{% extends "base.html" %}

{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}



{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% load cart_tags %}
{% load order_tags %}

{% block content %}

<section class="content-static">
  <div class="brick clearfix">
  
 {% load article_tags %}
    {{ block.super }}
    <div class="wrapper content clearfix">
        
      
        <h2>My Cart</h2>
        {% if empty %}
            <p class="lead cart">{{ empty_message }} Never fear! Here are some things you can put in it:</p>
            
             {% issue_slider request %}
        {% else %}
            
        
        
        
        
          
          
              
        <div class="table-responsive">
            <div class="tertal">
                <p><span class="tit">Sub Total: </span>${{ cart.product_total|floatformat:2 }}<br>
                <span class="tit">Shipping:</span> ${{ cart.shipping_total|floatformat:2 }}</p>
                <hr>
                <p><span class="tit">Grand Total:</span> ${{ cart.total|floatformat:2 }}</p>
            </div>

          

           
         
          <!-- Table -->
          <table class="table cartshow ">
                 <thead>
                  <tr>
                    <th class="item">Item</th>
                    <th class="qty">Qty</th>
                    <th class="subttl">Sub Total</th>
                    <th class="action"> Action</th>
                  </tr>

                </thead>
                <tbody>

                
                
                  {% for item in subbies %}
                   
                    {% get_last_record item.recipient as the_last_record %}

                    {% if the_last_record %} <!-- renewal, find last record to find start issue -->
                      {% get_first_month the_last_record as the_first_month %}
                      {% get_second_month the_last_record as the_second_month %}

                      <tr>
                        <td class="item">{{ item.subscription.title }} for {{item.recipient}}
                        <span class="subitem">renewing with Issue {{ the_last_record }} 
                        {% if the_last_record < 19 %} {{ the_last_record}}
                        
                         ({{ the_first_month|date:"M" }}/{{the_second_month|date:"M Y"}})
                        
                        {% else %}
                          {% get_season the_last_record as the_season %}
                          {% get_year the_last_record as the_year %}
                          ({{ the_season }} {{the_year|date:"Y"}})
                        {% endif %}</span> </td>
                       
                        <td class="qty">{{ item.quantity }}</td>
                        <td class="subttl">${{ item.line_total|floatformat:0 }}</td>
                        
                        <td class="action">
                        
                        
                        <a href="{% url "remove_from_cart" item.flug %}"><i class="fa fa-times fa-lg"></i></a>
                        </td>
                      </tr>
                    {% else %} <!-- no last record, new subscriber -->
                      
                      {% get_first_month item.subscription.first_issue as the_first_month %}
                      {% get_second_month item.subscription.first_issue as the_second_month %}
                      
                      <tr> 
                        <td class="item">{{ item.subscription.title }} <span class="subitem">starting with Issue {{item.subscription.first_issue}} 
                        
                       
                          {% get_season item.subscription.first_issue as the_season %}
                          {% get_year item.subscription.first_issue as the_year %}
                          ({{ the_season }} {{the_year|date:"Y"}})
                        

                        </span></td>
                       
                        <td class="qty">{{ item.quantity }}</td>
                        <td class="subttl">${{ item.line_total|floatformat:0 }}</td>
                        
                        <td class="action">
                        <a href="{% url "update_cart" item.flug %}"><i class="fa fa-plus fa-lg"></i></a>
                        
                        <a href="{% url "remove_from_cart" item.flug %}"><i class="fa fa-times fa-lg"></i></a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}

                  {% for item in singles %}
                  <tr>
                    <td class="item">{{ item.single.month }} issue</td>
                    <td class="qty">{{ item.quantity }}</td>
                    <td class="subttl">${{ item.line_total|floatformat:0 }}</td>
                   
                    <td class="action"><a href="{% url "increment_cart" item.flug %}"><i class="fa fa-plus fa-lg"></i></a>
                    <a href="{% url "decrement_cart" item.flug %}"><i class="fa fa-minus fa-lg"></i></a>
                    <a href="{% url "remove_from_cart" item.flug %}"><i class="fa fa-times fa-lg"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
               


               </tbody>
                
          </table>
         </div>
        </div>
        
        <div class="cart-form-control">
          <a href="delete" class="btn btn-default pcta">Empty Cart</a>
          <a href="{% url "checkout" %}" class="btn btn-primary pcta">Checkout</a>
        </div>
        

            {% endif %}
        

       
    
 

  
  </div>

</section>

{% endblock %}



