{% extends "base.html" %}
{% load staticfiles %}


{% load order_tags %}
{% load crispy_forms_tags %}

{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% block content %}



<section class="content-static">

{% if user.is_staff %}
   {% include "admin_nav.html" %} 
{% endif %}

  <div class="brick clearfix">

     {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
            {% endfor %}
        </div>
    {% endif %}

    
    
    <h2>{{ user.first_name }} {{user.last_name }}</h2>
        <p><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }} [<a href="{% url 'auth_logout' %}">Logout</a>]</p>

     <h2>Subscription Status</h2>   
        {% dashboard_issue_term request %} 
    </div>

   <div class="brick clearfix">
        {% dashboard_orders request %} 
    </div>
    
    <div class="brick clearfix">
        {% dashboard_ccs request %} 
    </div>


    <div class="brick clearfix">
        {% dashboard_recips request %} 
    </div>

    

</section>









{% endblock %}