/* @override 
	http://127.0.0.1:8000/assets/css/main.css
	http://127.0.01:8000/assets/css/main.css
	http://192.168.0.197:8000/assets/css/main.css
	http://127.0.0.1:8000/assets/css/main.css?v1.0
	http://192.168.0.197:8000/assets/css/main.css?v1.0 */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* develpment fonts */

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helveticaneue-thincond-webfont.eot');
    src: url('helveticaneue-thincond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thincond-webfont.woff') format('woff'),
         url('helveticaneue-thincond-webfont.ttf') format('truetype'),
         url('helveticaneue-thincond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
 @font-face {
    font-family: 'mrs_peaves_otroman';
    src: url('mrspeavesot-roman-webfont.eot');
    src: url('mrspeavesot-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('mrspeavesot-roman-webfont.woff') format('woff'),
         url('mrspeavesot-roman-webfont.ttf') format('truetype'),
         url('mrspeavesot-roman-webfont.svg#mrs_peaves_otroman') format('svg');
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
   font-family: "mrs_peaves_otroman", Georgia, Times, serif; 
   font-size: 90%;
	xwidth: 100%;
	xoverflow-x: hidden;
	xborder: 10px solid #333;
	color: #333;
	}
	
h1,h2,h3,h4{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 0 0 0;
}

a{
	color: #0073b6;
	text-decoration: none;
}

a:hover,a:focus{
	color: #a7a7a7;
}
header.banner{
	position: fixed;
	z-index: 500;
	width: 100%;
	xmargin: 0 10px 0 10px;
	height: 46px;
	overflow: hidden;
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid #333;
	box-sizing:        border-box;
	
	
   
}

.hr{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 37px;
	display: none;
	background-color: #333;
}

.hr-flat{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 40px;

	background-color: #333;
}

.hr-static{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 60px;
	margin-left: -10px;

	background-color: #333;
}


img.sticky{
	width: 100%;

	xposition: fixed;
	overflow: hidden;
		
			
}

.headerwrap{
	position: fixed;
	top: 10px;
	left: 0px;
	width: 100%;
	border-right: 10px solid #333;
	border-left: 10px solid #333;
	xbox-sizing:        border-box;
	xborder-bottom: 10px solid #333;
	z-index: 200;
	xbackground-color: black;
	box-sizing: inherit;

}

.screen{
	background: rgba(250, 250, 250, .5);

}

h1.logo{
	margin: 0;
}

h1.logo a {
	position:relative;
	float: left;
	background: transparent url('../i/post-logo-sm-2x.png') no-repeat left top;	
	font-family: Georgia, Times, serif;
	text-indent: -999em;
	overflow: hidden;
	
		
	
	background-size:  53px 12px;
	height:18px;
	margin: 8px 0 1px 9px;
	width: 60px;
}



nav.mm{
	display: block;
	float: left;
	width: 50%;
	
	
	
	margin:6px 0 0 2px;
	
}



nav.mm ul{

	margin: 0;
	padding: 0;
	position: relative;

	
	}

nav.mm ul li {
	display: inline-block;
	margin: 0 0 0 1%;
	
	
	
	
}

nav.mm ul li a{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-size: .9em;
}



#wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling : touch;
	
}


article.main{
	
	
}

img.boom{
	width: 100%;
	position: fixed;
	overflow: hidden;
	border: 10px solid #333;
	box-sizing:        border-box;
		
	
	
			
}

article header h2{
	margin: 0;
}

article.full header{
	xheight: 60px;
	position: relative;
	
}

article.full header .hgroup{
	position: absolute;
	color: #fff;
	z-index: 200;
	margin: 0;

	width: 100%;
	
	
}

h2.unique{
	font-size: 3em;
	text-shadow: 1px 1px 1px rgba(35, 33, 33, 0.68);
}

h2.unique a{
	color: #fff;
}

p.tagline{
	font-size: 1.0em;
	text-shadow: 1px 1px 1px rgba(35, 33, 33, 0.68);
	z-index: 200;
	position: relative;
	
	text-transform: uppercase;
	color: #c9c8c8;
	margin: -1% 0 0 0;
	width: 75%;
}

.testp,.scrollthang{
	display: none;
}

.content img{
	width: 100%;
}

.brick{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section.content{
	margin: 0 auto;
	xwidth: 100%;
	z-index: 200;
	position: relative;
	xtop: 300px;
	background: wheat;
	background:  url('../i/texture_paper_bg.png');
	xbackground-size: cover;
	padding:  0 5.1%;
	border: 10px solid #333;
	xbackground-position: center;
	box-sizing:        border-box;
	font-size: 1.2em;
	
}

section.content p{
	position: relative;
	display: block;
	margin: 2.3% 0 2.3% 0;
	xwidth: 100%;
	float: left;
	
}




section.content-static{
	margin: 0 auto;
	width: 100%;
	z-index: 200;
	position: relative;
	background: wheat;
	background:  url('../i/texture_paper_bg.png');

	padding:  45px 5.1%;
	
	border: 10px solid #333;
	
	box-sizing:        border-box;
	font-size: 1.2em;
	
}

/* @end */

figcaption{
	float: right;
	color: #a7a7a7;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	font-size: .7em;
	xletter-spacing: .09em;
}

.brick.first{
	margin-top: 2%;
	color: gray;
	font-family:  Georgia, Times, serif;
	line-height: 1.7em;
	font-style: italic;
	xfloat: left;
	font-size: .89em;
	xwidth: 100%;
	
	xmax-width: 650px;
	
	
}



aside.secondary{
	font-size: .9em;
	
}

aside .authorship{
	font-size: .8em;
	color: gray;
	padding-bottom: 8px;
	xletter-spacing: .8pt;
	height: auto;
	border-bottom: 1px solid #e0cbad;
	border-top: 1px solid #e0cbad;
	float: right;
	width: 100%;
	font-family:  Georgia, Times, serif;
	line-height: 1.6;
	font-style: italic;
	margin-top: 3%;
}

aside .authorship p{
	width: 100%;
	padding: 0 2% 0 0;
}

aside div.sponsor{
	font-size: .85em;
	text-align: center;
	padding-top: 20px;
	xfloat: right;
	
}

.secondary .pullquote{
	font-size: 1.4em;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	xletter-spacing: 1px;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 0;
}

.primary .pullquote,
.fullwidth .pullquote{
	font-size: 1.4em;
	font-style: italic;
	xletter-spacing: 1px;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 0;
}

.brick.last{
	border-top: 1px solid #e0cbad;
	margin-bottom: 4%;
	margin-top: 3%;
}

aside.more{
	font-size: .9em;
}

aside .socialper iframe#twitter-widget-0{
	margin: 3px 0 0 0%;
	width: 10px;
}

aside .fb-share-button{
	float: left;
	
}



aside .fb-like{
	float: left;
	margin: 4px 4% 6%;
}

aside.creators{
 font-size: .9em;
	border-top: 1px solid #e0cbad;
	border-bottom: 1px solid #e0cbad;
	height: auto;
	}
	
	
	
aside.secondary cite{
	float: right;
	color: gray;
	
}



/*static pages */


h2.list{
	display: inline-block;
	font-size: 2.0em;
	margin: 0 1% 0 0;
	line-height: .9em;
}

h2.list-title{
	margin-bottom: 20px;
}

p.tagline-list{
	display: inline-block;
	text-transform: uppercase;
	margin: 0;
}

article.teaser{
	margin-bottom: 40px;
}

article.teaser p.intro{
	color: gray;
	font-size: .9em;
	font-family: Georgia, Times, serif;
	font-style: italic;
	xletter-spacing: 1px;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 8px 0 0 0;
}

.brick.only{
	margin-bottom: 30px;
}

ul.bios{
	margin: 0;
	padding: 0;
}

li.person ul{
	margin: .3em 0 0 0;
	padding: 0 0 0 0;
}

li.person ul li{
	margin: 0;
}

ul.bios li{
	list-style: none;
	
	display: block;
}

li.person{
	margin: 1em 0;
	xwidth: 33%;
	
}



li.person .name{
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	margin: 0 0 0 .5em;
}

.bios h3{
	margin: 0;
}

ul.bios li i{
	font-size: .9em;
	margin: 0 0 0 6px;
	opacity: .4;
	-webkit-transition: all .2s ease-in-out; 
}
ul.bios li i:hover{
	x-webkit-transform: scale(1.5); 
}

.jobtitle, .addr, .phone{
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	margin: 0 ;
}

.threequarter{
	float: left;
	width: 95%;
}

.adpic{
	
	border: 10px solid #333;
	
	margin: 10% 0 0 0;
	width: 95%;
}

#map { 
	width:100%; 
	height: 500px;
	border: 1px solid #e0cbad;
	margin: 10px 0;
}



footer.footer{
	
	margin: 0 auto;
	width: 90%;
	z-index: 200;
	position: relative;
	background: #333;
	color: #fff;
	padding:  1% 5.1%;
	text-align: center;
	font-size: .7em;

}

.footernavs{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

footer .tehweb{
	width: 30%;
	float: right;
}

footer .internalnav{
	width: 30%;
	float: left;
	text-align: left;
}

nav.footy ul,
nav.tehweb ul{
	margin: 0 0 30px 0;
	padding: 0;
}

nav.tehweb ul{
	text-align: right;
}

nav.footy ul li a,
nav.tehweb ul li a{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
}

h1.deadly{
	font-size: 2.5em;
	text-align: center;
	margin: 0;
}


#email_signup_form{
	margin: 0px 0;
	width: 400px;
	padding: 0;
	position: relative;
	left: 3%;
	top: 10px;
	line-height: 2px;
	
}


input#id_email_signup{
	margin: 15px 0 0 0;
	
	text-transform: uppercase;
	text-align:center;
	border: 1px solid;
	width: 120px;
	height: 25px;
	color: #bab9b9;
	font-family: "MrsEavesRomanLiningRegular", Georgia, Times, serif;
	padding: 5px 0 0 0;
}
input#submit_email_signup{
	color:white;
	background-color:#0073b6;
	border:none;
	margin:0px 0px;
	font-family: "MrsEavesRomanLiningRegular", Georgia, Times, serif;
	xposition: absolute;
	top: 0;
	
	width: 40px;
	padding:0 0 0 0;
	
}

input#submit_email_signup{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	background-clip: padding;
	font-family: "Helvetica","Arial",sans-serif;
	border: 1px solid #4C5C68;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	height: 12px;
	padding: 7px 10px;
	margin: 8px;
	top: -3px;
	color: whiteSmoke;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 5);
	background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(255, 255, 255, .15)),to(rgba(0, 0, 0, .1)));
	background: -moz-linear-gradient(0% 100% 90deg,rgba(0, 0, 0, .1),rgba(255, 255, 255, .15));
	background-color: #798895;
	box-shadow: 0 0 3px rgba(0, 0, 0, .4),0 3px 4px rgba(0, 0, 0, .2),inset 0 1px 0 rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .4),0 3px 4px rgba(0, 0, 0, .2),inset 0 1px 0 rgba(255, 255, 255, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .4),0 3px 4px rgba(0, 0, 0, .2),inset 0 1px 0 rgba(255, 255, 255, .2);
	cursor: pointer;
	text-align: center;
	position: relative;
	text-transform: none;
	-moz-box-sizing: content-box!important;
	background-color: #0073B6;
}
input#submit_email_signup:hover,
input#submit_email_signup:active{
	background-color: #0390e3;
	outline: 0;
}

input#submit_email_signup:active{
	top: -2px;	
}

/* trouble bubble */

.msg-bubble {
  background-color:pink;
  border:2px solid #666666;
  font-size:16px;
  line-height:1.3em;
  margin:10px auto;
  padding:3px 3px;
  position:absolute;
  z-index: 1000;
  bottom: 39px;
  left: 160px;
  text-align:center;
  width:160px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
  text-transform: capitalize;
}
.msg-bubble-arrow-border {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-22px;
  left:20px
}
.msg-bubble-arrow {
  border-color: pink transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left: 20px;
}
.hide{
	display: none;
}

#successkid{
	xposition: absolute;
	xtop: 0px;
	xleft: 89px;
	xwidth: 200px;
	height: 23px;
	padding: 5px 10px 0 10px;
	background-color: #0390e3;
	color: #fff;
	margin: 10px 0 8px 0;
	border: 1px solid #333;
	float: left;
}

p.findat{
	width: 49%;
	float: left;
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	
}

p.findat2{
	width: 49%;
	float: right;
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	
}

.cta-item{
	xbackground-color: rgba(0,0,0,0.07);
	x-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.07),inset 0 -1px 0 rgba(0,0,0,0.07),inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.4);
	x-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.07),inset 0 -1px 0 rgba(0,0,0,0.07),inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.4);
	xbox-shadow: inset 0 1px 0 rgba(0,0,0,0.07),inset 0 -1px 0 rgba(0,0,0,0.07),inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.4);
	width: auto;
	padding: 10px 2%;
	border-top: 1px solid #e0cbad;
	border-bottom: 1px solid #e0cbad;
}

.cta-item.oneyr{
	margin-top: 40px;
	
}

.cta-item p{
	margin: 8px;
}

p.subber{
	xpadding-left: 100px;
	margin: 8px 0 0 0;
}
img.stack{
	position: relative;
	float: left;
	margin: -20px 10px -10px -25px;
}

.cta-item.eml i{
	float: left;
	color: #898888;
	font-size: 3em;
	
	
}

.avatard{
	border: 1px solid #333;
}


.soc-body{
	margin-top: 25px;
}

.cta-item.soc{
	xwidth: 100px;
	xheight: 100px;
	xtext-align: center;
	padding: 10px 15px;
	color: #898888;
	margin: 0 auto;
	
}

.cta-item:hover{
	background-color: rgba(0,0,0,0.15);
	}

.cta-item.soc i{
	float: left;
	font-size: 3em;
	margin: 0 0 0 -5px;
}

.cta-item.soc i.fa-external-link{
	float: none;
	font-size: .6em;
	margin: 0 0 0 5px;
}

.cta-item.soc p{
	padding: 6px 0 0 9px;
	float: left;
	width: 73%;
}
.cta-item.soc.twit,
.cta-item.soc.farce{
	border-bottom: none;
}

.soc-body:after{
	content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
}


a#buy.helium-buy-now{
	background-color:#0073b6;
}

a#buy.helium-buy-now:hover{
	background-color: #0390e3;
}



/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px 0 20px 0; }
.social-buttons > li { display: block; margin: 0; padding: 10px 20px 10px 35px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('../i/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 30em) {





.cta-item.soc{

	xwidth: 20%;
	xdisplay: inline-block;
	
}

.cta-item.soc.twit,
.cta-item.soc.farce{
	
}

.soc-body:after{
	content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
}

.social-buttons > li { display: block; margin: 0; padding: 8px; float: left; }

}


@media only screen and (min-width: 39em) {
    /* Style adjustments for viewports that meet the condition */
    body{
    	font-size: 100%;
    }
    
    header.banner{
    	height: 50px;
    }
    h1.logo a {
    	
    
    	
    	background-size:  80px 18px;
    	height:28px;
    	width: 80px;
    	margin: 12px 0 1px 9px;
    	
    	
    }
    
    .hr{
    	top: 50px;
    	}
    .hr-flat{
    	top: 50px;
    }
    nav.mm{
    	width: 50%;
    	
    	margin:10px 0 0 12px;
    }
    
    nav.mm ul li a{
    font-size: 1em;
    }
    
    
    section.primary{
    	width: 68%;
    	float: left;
    }
    
   section.content-static{
   	 padding:  70px 5.1%;
   }
    
    x.brick.first{
    	width: 68%;
    }
    
   x.brick.first .primary{
    	width: 100%;
    }
    
    
    .threequarter{
    	float: left;
    	width: 50%;
    }
    
    .adpic{
    	float: right;
    	width: 40%;
    	
    	
    }
    
    ul.bios{
    	margin-top: 15px;
    }
    
    li.person.col1{
    	width: 50%;
    	float: left;
    	margin: 10px 0;
    }
    
    
    li.person.col2{
    	width: 50%;
    	float: right;
    	margin: 10px 0;
    }
    
    .cta-item.soc i,
    .cta-item.eml i{
    	font-size: 5em;
    }
    .cta-item.soc p{padding-top: 25px;}
    
    img.stack{
    	
    	margin: -40px 20px -10px -25px;
    }
    
    input#id_email_signup{
    	width: 200px;
	}
    aside.secondary{
    	width: 28%;
    	float: right;
    }
    aside .authorship{
    border-top: none;
    margin-top: 7%;
    padding-bottom: 15px;
    
    
    }
    
    aside.secondary .pullquote{
    	font-size: 1.3em;
    	display: block;
    }
    
    
    aside.more{
    	width: 45%;
    	float: left;
    	margin: 0 2% 0 0;
    }
    
    aside .sponsor{
    	margin-top: 10px;
    	border-top: none;
    	
    }
    
    .socialper{
    	height: 150px;
    	
    	
    }
    
    
    aside.more{
    	border-right: 1px solid #e0cbad;
    	padding:  0 2% 0 0;
    }
    aside.creators{
    width: 48%;
    float: left;
    
    padding: 0 0 0 0;
    border-top: none;
    border-bottom: none;
    
    	
    }
    aside.message{
    width: 32%;
    float: left;
    	
    }
    
    h2.list{
    	font-size: 2.5em;
    }
    
    h2.unique{
    	font-size: 4em;	
    	
    }
    
    h2.unique a{
    	color: #fff;
    }
    
    p.tagline{
    	font-size: 1.2em;
    	
    }
    
    footer.footer{
    	font-size: 1em;
    }
    
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
