/* @override 
	http://127.0.0.1:8000/assets/css/main.css
	http://192.168.0.197:8000/assets/css/main.css
	http://127.0.0.1:8000/assets/css/main.css?v1.0
	http://192.168.0.197:8000/assets/css/main.css?v1.0
	http://stage2.postrochester.com/assets/css/main.css?v1.0
	http://127.0.0.1:8000/assets/css/main.css?v1.2 */
@import url('bs-ui.css') screen;



/*! with love from HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

 
/* Base  Styles */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* develpment fonts */

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helveticaneue-thincond-webfont.eot');
    src: url('helveticaneue-thincond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thincond-webfont.woff') format('woff'),
         url('helveticaneue-thincond-webfont.ttf') format('truetype'),
         url('helveticaneue-thincond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
 @font-face {
    font-family: 'mrs_peaves_otroman';
    src: url('mrspeavesot-roman-webfont.eot');
    src: url('mrspeavesot-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('mrspeavesot-roman-webfont.woff') format('woff'),
         url('mrspeavesot-roman-webfont.ttf') format('truetype'),
         url('mrspeavesot-roman-webfont.svg#mrs_peaves_otroman') format('svg');
}

html{
	background-color: #333;
}

body{
   font-family: "mrs_peaves_otroman", Georgia, Times, serif; 
   font-size: 90%;
	color: #333;
	}
	
h1,h2,h3,h4{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
	margin: 25px 0 10px 0;
}

a{
	color: #0073b6;
	text-decoration: none;
}

a:hover,a:focus{
	color: #a7a7a7;
}
header.banner{
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 46px;
	overflow: hidden;
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid #333;
	box-sizing:        border-box;
	
	
   
}

.hr{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 37px;
	display: none;
	background-color: #333;
	
}

.hr-flat{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 37px;
	background-color: #333;
}

.hr-static{
	width: 100%;
	z-index: 2000;
	height: 10px;
	position: fixed;
	top: 60px;
	margin-left: -10px;
	background-color: #333;
	
}


img.sticky{
	width: 100%;
	overflow: hidden;	
	
}




.headerwrap{
	position: fixed;
	top: 10px;
	left: 0px;
	width: 100%;
	border-right: 10px solid #333;
	border-left: 10px solid #333;
	z-index: 200;
	overflow: hidden;
	box-sizing: inherit;
}


.screen{
	background: rgba(225, 225, 225, 0.7);

}

.lt-ie9 .screen{
	background-color: #b7b6b6;
}

h1.logo{
	margin: 0;
}
#lerg{
	width: 74px;
	display: block;
	float: left;
	height: 14px;
	margin: 7px 0 10px 10px;

}
svg{
	svg { width: 100%; }
	#outline path { fill: #ffffff; }
	#phil path { fill: #333333; }
	
}

.no-svg svg{
	display: none;
}
.png_logo{
	width: 68px;
	height: auto;
	margin: -10px 0 0 0;
}



h1.logo a {
	position:relative;
	float: left;
		
	font-family: Georgia, Times, serif;
	text-indent: -999em;
	overflow: hidden;
	background-size:  53px 12px;
	xheight:18px;
	xmargin: 8px 0 1px 9px;
	xwidth: 60px;
	xbackground-image: url('/assets/i/post.svg');
	xbackground-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%22240.4px%22%20height%3D%2253.8px%22%20viewBox%3D%220%200%20240.4%2053.8%22%20enable-background%3D%22new%200%200%20240.4%2053.8%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23A7A9AC%22%20d%3D%22M56.5%2C7c-2.2-2.2-5.3-3.8-9.4-4.7c-1.1-0.2-2.6-0.5-4.3-0.6c-1.7-0.2-3.7-0.3-5.8-0.5C34.8%2C1.1%2C32.8%2C1%2C31%2C1%0D%0A%09%09H0.1v1.9h2c6.1%2C0%2C9.1%2C3%2C9.1%2C9.1v29.9c0%2C6.1-3%2C9.1-9.1%2C9.1H0v1.9h34.4V51h-2.8c-6.1%2C0-9.1-3-9.1-9.1V29.9h13.8c3.6%2C0%2C6.9-0.3%2C9.8-1%0D%0A%09%09c2.9-0.6%2C5.4-1.6%2C7.4-2.8c2-1.2%2C3.6-2.8%2C4.6-4.6c1-1.8%2C1.6-3.9%2C1.6-6.2C59.8%2C12.1%2C58.7%2C9.3%2C56.5%2C7%20M43.6%2C24.9%0D%0A%09%09c-2.4%2C2-6.1%2C3.1-11.1%2C3.1h-10v-25h9.6c2.4%2C0%2C4.4%2C0.2%2C6%2C0.5c1.6%2C0.3%2C3%2C0.8%2C4.1%2C1.5c3.2%2C1.9%2C4.9%2C5.5%2C4.9%2C10.5%0D%0A%09%09C47.1%2C19.7%2C45.9%2C22.9%2C43.6%2C24.9%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23A7A9AC%22%20d%3D%22M121.2%2C17.5c-1.4-3.1-3.3-5.9-5.8-8.4c-3-3-6.5-5.2-10.5-6.8c-4-1.5-8.5-2.3-13.3-2.3%0D%0A%09%09C86.2%2C0%2C81%2C1.2%2C76.4%2C3.6c-4.7%2C2.4-8.5%2C5.7-11.2%2C9.9c-2.8%2C4.1-4.2%2C8.7-4.2%2C13.5c0%2C3.6%2C0.8%2C7.1%2C2.4%2C10.4c1.6%2C3.3%2C3.9%2C6.2%2C6.8%2C8.7%0D%0A%09%09c2.9%2C2.5%2C6.2%2C4.4%2C10%2C5.8c3.8%2C1.4%2C7.9%2C2%2C12.1%2C2c5.6%2C0%2C10.8-1.2%2C15.5-3.6c4.7-2.4%2C8.5-5.7%2C11.2-9.8c2.8-4.1%2C4.1-8.6%2C4.1-13.5%0D%0A%09%09C123.2%2C23.8%2C122.5%2C20.6%2C121.2%2C17.5%20M107.5%2C40.2c-1.4%2C3.8-3.5%2C6.7-6.1%2C8.7c-2.6%2C2-5.7%2C3-9.3%2C3c-2.6%2C0-5-0.6-7.1-1.7%0D%0A%09%09c-2.1-1.1-4-2.8-5.5-5c-1.5-2.2-2.7-4.9-3.6-7.9c-0.8-3.1-1.2-6.5-1.2-10.2c0-3%2C0.3-5.8%2C0.8-8.4c0.5-2.6%2C1.3-4.9%2C2.3-7%0D%0A%09%09c1-2.1%2C2.3-3.9%2C3.7-5.4c1.3-1.4%2C3-2.5%2C4.9-3.2c1.9-0.8%2C4-1.1%2C6.2-1.1c1.2%2C0%2C2.5%2C0.2%2C3.8%2C0.6c1.3%2C0.4%2C2.5%2C1%2C3.5%2C1.6%0D%0A%09%09c2%2C1.3%2C3.8%2C3%2C5.2%2C5.2c1.4%2C2.2%2C2.6%2C4.8%2C3.3%2C7.7c0.8%2C3%2C1.2%2C6.2%2C1.2%2C9.6C109.7%2C31.8%2C108.9%2C36.4%2C107.5%2C40.2%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23A7A9AC%22%20d%3D%22M157.1%2C53.8c-2.4%2C0-4.7-0.2-6.8-0.7c-2.1-0.5-4.7-1.4-7.7-2.6c-1.9-0.8-3.4-1.3-4.4-1.6%0D%0A%09%09c-2.9-0.8-5.3-0.4-7.1%2C0.9c-1.2%2C0.9-1.9%2C2.1-2.3%2C3.8l0%2C0.2H127V29.5h1.8l0%2C0.2c0.5%2C4.1%2C2.2%2C7.9%2C5%2C11.3c1.7%2C2%2C3.9%2C3.8%2C6.6%2C5.5%0D%0A%09%09c2.7%2C1.7%2C5.5%2C3%2C8.4%2C4c5.5%2C1.8%2C10.7%2C1.9%2C14.8%2C0.3c1.9-0.8%2C3.4-1.8%2C4.5-3.2c1.1-1.3%2C1.6-2.9%2C1.6-4.6c0-1.8-0.7-3.4-2.2-4.8%0D%0A%09%09c-0.7-0.6-1.5-1.2-2.6-1.8c-1.1-0.6-2.5-1.1-4.2-1.7c-1.7-0.6-4.1-1.3-7.1-2.1l-3.7-1c-5.7-1.5-9.7-2.8-11.9-3.6%0D%0A%09%09c-2.5-0.9-4.5-1.8-5.9-2.7c-1.4-0.9-2.7-2.1-3.7-3.5c-1.5-2-2.3-4.2-2.3-6.6c0-2.9%2C0.9-5.5%2C2.6-7.8c1.7-2.3%2C4.1-4.1%2C7.2-5.4%0D%0A%09%09C139%2C0.6%2C142.5%2C0%2C146.2%2C0c5.6%2C0%2C11.5%2C1.6%2C17.5%2C4.7c2.1%2C1%2C3.5%2C1.5%2C4.2%2C1.5c1.8%2C0%2C3-1.3%2C3.8-4l0.1-0.2h1.8v18.2h-1.8l-0.1-0.2%0D%0A%09%09c-1.5-4.2-3.3-7.5-5.2-9.8c-1.4-1.6-3.2-3.1-5.3-4.3c-2.1-1.2-4.5-2.2-7.1-2.9c-2.6-0.7-5.3-1.1-8-1.1c-2%2C0-3.8%2C0.3-5.3%2C0.8%0D%0A%09%09c-1.5%2C0.5-2.9%2C1.4-3.9%2C2.4c-0.8%2C0.8-1.4%2C1.6-1.8%2C2.6c-0.4%2C0.9-0.7%2C1.8-0.7%2C2.7c0%2C1.6%2C0.6%2C3.1%2C1.9%2C4.2c0.6%2C0.6%2C1.5%2C1.2%2C2.6%2C1.7%0D%0A%09%09c1.1%2C0.6%2C2.6%2C1.1%2C4.4%2C1.6c1.8%2C0.5%2C4.3%2C1.2%2C7.5%2C2c0.9%2C0.3%2C1.5%2C0.4%2C1.8%2C0.5l1.8%2C0.4l2.9%2C0.7c4.8%2C1.2%2C8.4%2C2.4%2C10.7%2C3.3%0D%0A%09%09c2.3%2C1%2C4.2%2C2.3%2C5.8%2C3.8c1.2%2C1.2%2C2.2%2C2.6%2C2.9%2C4.1c0.7%2C1.6%2C1%2C3.3%2C1%2C5.1c0%2C1.8-0.4%2C3.6-1.2%2C5.4c-0.8%2C1.8-1.9%2C3.4-3.3%2C4.8%0D%0A%09%09c-1.8%2C1.9-4.1%2C3.3-6.8%2C4.3C163.6%2C53.3%2C160.5%2C53.8%2C157.1%2C53.8%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23A7A9AC%22%20d%3D%22M233.1%2C52.9h-45.4v-2h8c6.1%2C0%2C9.1-3%2C9.1-9.1V2.9h-3c-6%2C0-10.9%2C2.9-14.7%2C8.5c-1.9%2C2.8-3.3%2C6.1-4.3%2C10%0D%0A%09%09c-0.3%2C1.3-0.6%2C3.3-0.9%2C6l0%2C0.2h-1.8V1h60.7v26.6l-1.7%2C0.1l0-0.3c-0.6-6.4-2.6-12-5.8-16.7c-3.8-5.2-8.8-7.9-14.7-7.9H216v38.9%0D%0A%09%09c0%2C6.1%2C2.9%2C9.1%2C9%2C9.1h8V52.9z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M0.4%2C1.3H31c1.8%2C0%2C3.8%2C0.1%2C6%2C0.2C39.1%2C1.6%2C41%2C1.8%2C42.7%2C2c1.7%2C0.2%2C3.1%2C0.4%2C4.3%2C0.6c4%2C0.9%2C7.1%2C2.4%2C9.3%2C4.6%0D%0A%09%09c2.1%2C2.2%2C3.2%2C5%2C3.2%2C8.2c0%2C2.3-0.5%2C4.3-1.5%2C6c-1%2C1.8-2.5%2C3.2-4.5%2C4.5c-2%2C1.2-4.4%2C2.1-7.3%2C2.8c-2.9%2C0.6-6.1%2C1-9.8%2C1H22.2v12.2%0D%0A%09%09c0%2C6.3%2C3.1%2C9.4%2C9.3%2C9.4h2.6v1.4H0.3v-1.4h1.8c6.2%2C0%2C9.3-3.1%2C9.3-9.4V12c0-6.2-3.1-9.3-9.3-9.3H0.4V1.3z%20M22.2%2C2.7v25.6h10.2%0D%0A%09%09c5.1%2C0%2C8.8-1%2C11.2-3.1c2.4-2.1%2C3.6-5.3%2C3.6-9.7c0-5.1-1.7-8.7-5-10.7c-1.2-0.7-2.6-1.2-4.2-1.5c-1.6-0.3-3.6-0.5-6-0.5H22.2z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M91.6%2C0.3c4.8%2C0%2C9.2%2C0.8%2C13.2%2C2.3c4%2C1.5%2C7.4%2C3.8%2C10.4%2C6.7c2.5%2C2.5%2C4.4%2C5.3%2C5.7%2C8.4c1.3%2C3.1%2C2%2C6.2%2C2%2C9.4%0D%0A%09%09c0%2C4.8-1.4%2C9.3-4.1%2C13.3c-2.7%2C4.1-6.4%2C7.3-11.1%2C9.7s-9.8%2C3.6-15.4%2C3.6c-4.3%2C0-8.3-0.7-12-2c-3.8-1.3-7.1-3.2-9.9-5.7%0D%0A%09%09c-2.9-2.5-5.1-5.3-6.7-8.6C62%2C34%2C61.2%2C30.6%2C61.2%2C27c0-4.8%2C1.4-9.2%2C4.2-13.3c2.8-4.1%2C6.5-7.4%2C11.1-9.8C81.2%2C1.5%2C86.2%2C0.3%2C91.6%2C0.3%0D%0A%09%09%20M92.6%2C1.6c-2.2%2C0-4.3%2C0.4-6.3%2C1.2c-2%2C0.8-3.6%2C1.9-5%2C3.3c-1.5%2C1.5-2.7%2C3.4-3.8%2C5.5c-1%2C2.1-1.8%2C4.5-2.4%2C7.1%0D%0A%09%09c-0.5%2C2.6-0.8%2C5.4-0.8%2C8.4c0%2C3.8%2C0.4%2C7.2%2C1.2%2C10.3c0.8%2C3.1%2C2%2C5.8%2C3.6%2C8c1.6%2C2.2%2C3.4%2C3.9%2C5.6%2C5.1c2.2%2C1.2%2C4.6%2C1.8%2C7.3%2C1.8%0D%0A%09%09c3.6%2C0%2C6.8-1%2C9.5-3.1c2.7-2.1%2C4.7-5%2C6.2-8.9c1.4-3.8%2C2.1-8.4%2C2.1-13.7c0-3.4-0.4-6.6-1.2-9.6c-0.8-3-1.9-5.6-3.4-7.8%0D%0A%09%09c-1.5-2.2-3.2-4-5.3-5.3c-1-0.7-2.2-1.2-3.6-1.7C95.1%2C1.8%2C93.8%2C1.6%2C92.6%2C1.6%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M172%2C2.3h1.3v17.6H172c-1.5-4.2-3.3-7.5-5.3-9.9c-1.4-1.7-3.2-3.1-5.3-4.4c-2.1-1.3-4.5-2.3-7.2-3%0D%0A%09%09c-2.7-0.7-5.3-1.1-8.1-1.1c-2%2C0-3.8%2C0.3-5.4%2C0.8c-1.6%2C0.6-2.9%2C1.4-4%2C2.5c-0.8%2C0.8-1.4%2C1.7-1.9%2C2.6c-0.5%2C1-0.7%2C1.9-0.7%2C2.8%0D%0A%09%09c0%2C1.7%2C0.7%2C3.2%2C2%2C4.4c0.6%2C0.6%2C1.5%2C1.2%2C2.6%2C1.8c1.1%2C0.6%2C2.6%2C1.1%2C4.4%2C1.7c1.8%2C0.5%2C4.3%2C1.2%2C7.5%2C2c0.9%2C0.3%2C1.5%2C0.4%2C1.8%2C0.5l1.8%2C0.4%0D%0A%09%09l2.9%2C0.7c4.8%2C1.2%2C8.4%2C2.4%2C10.6%2C3.3c2.2%2C1%2C4.1%2C2.2%2C5.7%2C3.8c1.2%2C1.2%2C2.2%2C2.5%2C2.8%2C4c0.7%2C1.5%2C1%2C3.2%2C1%2C5c0%2C1.8-0.4%2C3.5-1.1%2C5.3%0D%0A%09%09c-0.8%2C1.8-1.8%2C3.3-3.2%2C4.7c-1.8%2C1.9-4%2C3.3-6.7%2C4.2c-2.7%2C0.9-5.7%2C1.4-9.1%2C1.4c-2.4%2C0-4.6-0.2-6.7-0.7s-4.6-1.4-7.7-2.6%0D%0A%09%09c-2-0.8-3.5-1.3-4.5-1.6c-1-0.3-2-0.4-2.9-0.4c-1.7%2C0-3.2%2C0.5-4.4%2C1.4c-1.2%2C0.9-2%2C2.2-2.4%2C3.9h-1.3V29.7h1.3%0D%0A%09%09c0.5%2C4.2%2C2.2%2C8%2C5.1%2C11.5c1.7%2C2%2C4%2C3.9%2C6.7%2C5.6c2.7%2C1.7%2C5.5%2C3.1%2C8.5%2C4c3%2C1%2C5.8%2C1.4%2C8.4%2C1.4c2.4%2C0%2C4.5-0.4%2C6.5-1.2%0D%0A%09%09c2-0.8%2C3.5-1.9%2C4.6-3.3c1.1-1.4%2C1.7-3%2C1.7-4.7c0-1.9-0.7-3.5-2.2-5c-0.7-0.7-1.6-1.3-2.7-1.8c-1.1-0.6-2.5-1.1-4.2-1.7%0D%0A%09%09c-1.7-0.6-4.1-1.3-7.1-2.1l-3.7-1c-5.7-1.5-9.7-2.7-11.9-3.6c-2.5-0.9-4.4-1.8-5.8-2.7c-1.4-0.9-2.6-2.1-3.7-3.5%0D%0A%09%09c-1.5-2-2.3-4.1-2.3-6.5c0-2.8%2C0.8-5.4%2C2.5-7.7c1.7-2.3%2C4.1-4%2C7.1-5.3c3-1.3%2C6.4-1.9%2C10.1-1.9c5.6%2C0%2C11.4%2C1.6%2C17.4%2C4.7%0D%0A%09%09c2.1%2C1.1%2C3.5%2C1.6%2C4.3%2C1.6C169.8%2C6.5%2C171.1%2C5.1%2C172%2C2.3%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M180.2%2C1.3h60.2v26l-1.2%2C0.1c-0.6-6.5-2.6-12.1-5.9-16.8c-3.9-5.3-8.9-8-14.9-8h-2.7v39.2%0D%0A%09%09c0%2C6.2%2C3.1%2C9.3%2C9.3%2C9.3h7.8v1.4H188v-1.4h7.7c6.2%2C0%2C9.3-3.1%2C9.3-9.3V2.7h-3.3c-6.1%2C0-11.1%2C2.9-14.9%2C8.6c-1.9%2C2.8-3.3%2C6.2-4.3%2C10.1%0D%0A%09%09c-0.3%2C1.3-0.6%2C3.3-1%2C6h-1.3V1.3z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
	
}

.no-inlinesvg h1.logo a{
	background: transparent url('../i/post-logo-sm-2x.png') no-repeat left top;
}
.lt-ie9 h1.logo a{
	background: transparent url('../i/post-logo-derpy-sm.png') no-repeat left top;
}



nav.mm{
	display: block;
	float: left;
	width:73.5%;
	margin:6px 0 0 2px;
	}



nav.mm ul{
	margin: 0;
	padding: 0;
	position: relative;	
	}

nav.mm ul li {
	display: inline-block;
	margin: 0 0 0 1%;	
}

nav.mm ul li a{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-size: .9em;
}

#nav .toggly{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
	color: #0073b6;
	text-decoration: none;
	text-align: right;
	width: 85px;
	display: block;
	
}

#nav .toggly i{
	margin-left: 3px;
	
}


ul#nav{
	display: none;
}

/* nvp menu */

#popnav{
	width: 130px;
	z-index: 2000;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 0 10px;
	text-align: center;
	
}
#popnav #nav {
	width: 100%;
}

#popnav a.toggly{
	width: 100%;
	float: right;
	padding: 0 10px 0 0;
}

.superscreen{
	background: rgba(225, 225, 225, 0.95);
	
}

#popnav ul li{
	padding: 2px 10px;
}
#popnav ul{
	border: 1px solid #333;
}

#widecart .title_popcart{
	display: none;
}



@media only screen and (min-width: 509px) {
#nav .toggly{
	display: none;
}
ul#nav{
	display: block;
}
}


.notify{
	height: 11px;
	min-width: 12px;
	display: block;
	position: relative;
}

.preview{
	background-color: #0073b6;
	text-align: center;
	color: #fff;
	font-size: 9px;
	padding: 0 4px;
	border-radius: 3px;
	position: absolute;
	top: 0;
	right: 0;
}

.preview:hover{
	background-color: #a7a7a7;
}

.ct-badge{
	background-color: #0073b6;
		  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
	text-align: center;
	color: #fff;
	font-size: 9px;
	padding: 0 4px;
	border-radius: 3px;
	top: 12%;
	right: 1.8%;
	position: absolute;

}



#wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling : touch;
	background-color: #333;	
}



img.boom{
	width: 100%;
	position: fixed;
	overflow: hidden;
	border: 10px solid #333;
	box-sizing:        border-box;
			
}



article header h2{
	margin: 0;
}

article.full header{
	position: relative;
}

article.full header .hgroup{
	position: absolute;
	color: #fff;
	z-index: 200;
	margin: 0;
	width: 100%;	
}

h2.unique{
	font-size: 3em;
	text-shadow: 1px 1px 1px rgba(35, 33, 33, 0.68);
}

h2.unique a{
	color: #fff;
}

h2.unique a:hover{
	text-decoration: none;
}

p.tagline{
	font-size: 1.0em;
	text-shadow: 1px 1px 1px rgba(35, 33, 33, 0.68);
	z-index: 200;
	position: relative;
	text-transform: uppercase;
	color: #c9c8c8;
	margin: -1% 0 0 0;
	width: 75%;
}

.testp,.scrollthang{
	display: none;
}

.content img{
	width: 100%;
}

.content-static img.r{
	width: 100%;
}

img.zoomer{
	cursor: -webkit-zoom-in;
	  cursor: -moz-zoom-in;
	  cursor: -ms-zoom-in;
	  cursor: zoom-in;
}

.brick{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.brick.iso{
	background-color: rgba(0,0,0,0.05);
	padding: 1% 1% 1% 1%;	
	color: gray;
}

.brick.iso + .brick.iso {
	margin-top: 20px;
}

.brick.iso h3{
	margin-top: 0;
}

hr.mid{
	width: 100%;
	margin-top: 20px;
	float: left;
}

p.sincerely{
	font-style: italic;
	width: 100%;
	text-align: right;
}

span.q{
	color: #a1744a;
}
	

section.content{
	margin: 0 auto;
	z-index: 200;
	position: relative;
	background: wheat;
	background:  url('../i/texture_paper_bg.png');
	padding:  0 5.1%;
	xborder: 10px solid #333;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid #333;
	border-bottom: 10px solid #333;
	box-sizing:        border-box;
	font-size: 1.2em;	
	
}

section.content p,
section.content-static .flatreg p

{
	position: relative;
	display: block;
	margin: 2.3% 0 2.3% 0;
	float: left;
	width: 100%;
}

section.narnia{
	
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0;
	border-right: 10px solid;
	border-left: 10px solid;
}

section.fullwidth.threeup img{
	margin: 2% 0;
}

section.fullwidth.twoup img{
	margin: 2% 0;
}


section.content-static{
	margin: 0 auto;
	width: 100%;
	z-index: 200;
	position: relative;
	background: wheat;
	background:  url('../i/texture_paper_bg.png');
	padding:  45px 5.1%;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid #333;
	border-bottom: 10px solid #333;
	box-sizing:        border-box;
	font-size: 1.2em;
	
}


img.cover_img{
	width: 50px;
	float: left;
	margin: 5px 10px 10px 0;
	border: 1px solid #333;
}


figure cite {
	color: #a7a7a7;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	font-size: .7em;
}


/* @end */

figcaption, caption{
	float: right;
	color: #a7a7a7;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	font-size: .7em;
}

.brick.first{
	margin-top: 2%;
	color: gray;
	font-family:  Georgia, Times, serif;
	line-height: 1.7em;
	font-style: italic;
	font-size: .89em;
	
	
}

.brick.fence{
	border-bottom: 1px solid #e0cbad;
	border-top: 1px solid #e0cbad;
	padding: 2% 0;
}

.topfence{
	border-top: 1px solid #e0cbad;
}

.botfence{
	border-bottom: 1px solid #e0cbad;
}



aside.secondary{
	font-size: .9em;
	
}

aside .authorship{
	font-size: .8em;
	color: gray;
	padding-bottom: 8px;
	height: auto;
	border-bottom: 1px solid #e0cbad;
	border-top: 1px solid #e0cbad;
	float: right;
	width: 100%;
	font-family:  Georgia, Times, serif;
	line-height: 1.6;
	font-style: italic;
	margin-top: 3%;
}

aside .authorship p{
	width: 100%;
	padding: 0 2% 0 0;
}

aside div.sponsor{
	font-size: .85em;
	text-align: center;
	padding-top: 20px;
	
}

.secondary .pullquote{
	font-size: 1.4em;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 0;
}

.secondary .testimonial{
	font-size: 1.2em;
	font-family:  Georgia, Times, serif;
	font-style: italic;
	line-height: 1.35em;
	color: #a7a7a7;
	margin: 0;
}
.primary .pullquote,
.fullwidth .pullquote{
	font-family:  Georgia, Times, serif;
	font-size: 1.4em;
	font-style: italic;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 0;
}

.brick.last{
	border-top: 1px solid #e0cbad;
	margin-bottom: 4%;
	margin-top: 3%;
}

.brick.notsolast{
   border-top: 1px solid #e0cbad;
	border-bottom: 1px solid #e0cbad;
	margin-top: 3%;
	margin-bottom: 1%;
	
}

aside.more{
	font-size: .9em;
}

aside .socialper iframe#twitter-widget-0{
	margin: 3px 0 0 0%;
	width: 10px;
}

aside .fb-share-button{
	float: left;
	
}



aside .fb-like{
	float: left;
	margin: 4px 4% 6%;
}

aside.creators{
 font-size: .9em;
	border-top: 1px solid #e0cbad;
	border-bottom: 1px solid #e0cbad;
	height: auto;
	}
	
aside.secondary cite,
section.primary cite{
	float: right;
	color: gray;
	
}

/* video */

.video_tile{
	width: 48%;
	float: left;
	border: 1px solid #e0cbad;
	margin: 2% 2% 2% 0;
	background-color:  #fbfaf9;
}

.video_tile h3{
	margin: 2%;
	float: left;
}

.video_tile img{
	width: 100%;
}

.video_tile i.fa-play-circle{
	float: right;
	margin: 3.5% 4% 0 0 ;
}
.video_tile a:hover{
	text-decoration: none;
}

ul.videolist{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.com_videolist{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.com_videolist .video_tile{
	width: 31.3%;
	min-width: 286px;
	
}

@media only screen and (max-width: 1054px) {
	ul.com_videolist .video_tile{
		width: 48%;
	}
}

@media only screen and (max-width: 700px) {
	ul.com_videolist .video_tile{
		width: 100%;
	}
	ul.videolist .video_tile{
		width: 100%;
	}
}

ul.com_videolist .video_tile h3{
	font-size: 1em;
}

ul.morevid{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.morevid .video_tile{
	width: 23.4%;
	min-width: 190px;
}
ul.morevid li.video_tile:last-child{
	margin-right: 0;
}
ul.morevid .video_tile h3{
	font-size: .8em;
}
@media only screen and (max-width: 920px) {
	ul.morevid .video_tile{
		width: 48%;
	}
}
@media only screen and (max-width: 480px) {
	ul.morevid .video_tile{
		width: 100%;
	}
	
}


.underwriter{
	text-align: center;
	margin: 6% auto;
}

.underwriter p{
	font-family: arial;
	font-size: .6em;
	font-style: italic;
	color: #a7a7a7;
	text-transform: uppercase;
	margin-bottom: 0;
}

.banner728{
text-align: center;
	max-width: 728px;
	width: 100%;
	margin: 0 auto;
}

.banner728 img{
	width: 100%;
}

.vidthu .thumbnail{
	float: left;
}
.vidthu h4{
	margin-left: 2%;
	float: left;
}

ul.vidcreator{
	list-style: none;
	
	padding: 0;	
}

ul.vidcreator li{
	margin: 0 0 5% 0;
}

.nexte{
	xheight: 80px;
	background: transparent;
	overflow: hidden;
	xbackground-color: rgba(0,0,0,0.10);
	box-sizing:        border-box;
}

h3.more{
	float: right;
}


/* instagram adders */

.ig ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img.igprof{
	width: 40px;
	margin-bottom: 5px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
}

.igbox{
	xwidth: 30%;
	display: block;
	  border: 1px solid #d0d0d0;
	  background: #fff;
	  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
	  padding: 8px;
	  font-size: .7em;
	  float: left;
	  margin: 1em 0;
	  width: 268 px;
	  border-radius: 2px;
	  
}

.igbox .ig_std{
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
}

.igtags{
	text-transform: uppercase;
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: .8em;
}
div.ig_user{
	word-wrap: break-word;
	xoverflow: hidden;
}

.hider{
	float: right;
}

.brick.ighead p{
	margin: 1% 0;
}

/*static pages */


h2.list{
	display: inline-block;
	font-size: 2.0em;
	margin: 0 1% 0 0;
	line-height: .9em;
}

h2.list-title{
	margin-bottom: 20px;
}

p.tagline-list{
	display: inline-block;
	text-transform: uppercase;
	margin: 0;
}

article.teaser{
	margin-bottom: 40px;
}

article.teaser p.intro{
	color: gray;
	font-size: .9em;
	font-family: Georgia, Times, serif;
	font-style: italic;
	line-height: 1.5em;
	color: #a7a7a7;
	margin: 8px 0 0 0;
}

article.teaser .thumbnail{
	width: 33%;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

article.teaser .hgroup{
	width: 65%;
	float: right;
	width: 100%;
}

.brick.only{
	margin-bottom: 30px;
}

ul.bios{
	margin: 0;
	padding: 0;
}

li.person ul{
	margin: .3em 0 0 0;
	padding: 0 0 0 0;
}

li.person ul li{
	margin: 0;
}

ul.bios li{
	list-style: none;
	display: block;
}

li.person{
	margin: 1em 0;
	width: 260px;
	
	
}



li.person .name{
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
		
}



.bios h3{
	margin: 0;
}

ul.bios li i{
	font-size: .9em;
	margin: 0 0 0 6px;
	opacity: .4;
	-webkit-transition: all .2s ease-in-out; 
}


.jobtitle, .addr{
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	margin: 0 ;
}

.threequarter{
	float: left;
	width: 95%;
}

.adpic{
	
	border: 10px solid #333;
	margin: 10% 0 0 0;
	width: 95%;
}

#map { 
	width:100%; 
	height: 500px;
	border: 1px solid #e0cbad;
	margin: 10px 0;
}

.mapwrap{
	margin: 90px 0 40px 0;
}

#sidemap{
	width:100%; 
	height: 300px;
	border: 1px solid #e0cbad;
	xmargin: 20px 0 20px 0;
}

.mapcredits{
	float: right;
	font-size: 9px;
    font-family: Georgia, Times, serif;
    font-style: italic;
	line-height: 12px;
}



footer.footer{
	margin: 0 auto;
	width: 100%;
	z-index: 200;
	position: relative;
	background: #333;
	color: #fff;
	padding:  1% 5.1%;
	text-align: center;
	font-size: .7em;

}

.footernavs{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

footer .tehweb{
	width: 30%;
	float: right;
}

footer .internalnav{
	width: 30%;
	float: left;
	text-align: left;
}

nav.footy ul,
nav.tehweb ul{
	margin: 0 0 30px 0;
	padding: 0;
}

nav.tehweb ul{
	text-align: right;
}

nav.footy ul li a,
nav.tehweb ul li a{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
}

h1.deadly{
	font-size: 2.5em;
	text-align: center;
	margin: 0;
}


#signerupper{
	width: 100%;
	
	
}

#email_signup_form{
	margin-left: 60px;
	position: relative;
}

input#id_email_signup,
input#mce-EMAIL{
	text-transform: uppercase;
	color: #bab9b9;
	
}

#mc-embedded-subscribe{
	margin-top: 0px;
}

ul.socbanner{
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

.socbanner li{
	display: inline-block;
	margin: 0 5px;
}

#beml{
	width: 60%;
	float: left;
}

#mc_embed_signup{
	/*margin-left: 50px;*/
	width: 100%;
}
#beml i{
	position: absolute;
}



/* trouble bubble */

.msg-bubble {
  background-color:pink;
  border:2px solid #666666;
  font-size:16px;
  line-height:1.3em;
  margin:10px auto;
  padding:3px 3px;
  position:absolute;
  z-index: 1000;
  bottom: 39px;
  left: 160px;
  text-align:center;
  width:160px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
  text-transform: capitalize;
}
.msg-bubble-arrow-border {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-22px;
  left:20px
}
.msg-bubble-arrow {
  border-color: pink transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left: 20px;
}
.hide{
	display: none;
}

#successkid{
	height: 43px;
	padding: 8px 10px 0 10px;
	background-color: #0390e3;
	color: #fff;
	margin: 1px 0 8px 0;
	border: 1px solid #333;
	float: left;
}

#successkid p{
	margin: 0;
}

p.findat{
	width: 100%;
	float: left;
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	
}

p.findat2{
	width: 100%;
	float: left;
	text-transform: uppercase;
	font-size: .8em;
	color: #898888;
	
}

.cta-item{
	
	width: auto;
	padding: 10px 2%;
	border-top: 1px solid #e0cbad;
	border-bottom: 1px solid #e0cbad;
	margin: 0 2%;
}

.cta-item.oneyr{
	margin-top: 65px;
	margin-bottom: 35px;
	
}

.cta-item.digyr{
margin-top: 40px;
	margin-bottom: 40px;
}

.cta-item.backish{
	margin-top:70px;
	
}

.cta-item p{
	margin: 8px;
}

p.subber{

	margin: 8px 0 0 0;
}
img.stack{
	position: relative;
	float: left;
	margin: -20px 10px -10px -25px;
}

img.prod{
	position: relative;
	float: left;
	margin: -20px 10px -10px -15px;
}

img.stack-creators{
   	width: 35%;
   	float: left;
   	margin-top: 5%;
   	bottom: 0;
   	position: absolute;
   }
   
   .creators .subber{
   	float: right;
   	width: 60%;
   	margin-top:9%;
   	text-align: center;
   	

   	
   }
   
   .cta-creators{
   display: block;
   width: 100%;
 width: auto;
 padding: 10px 2% 5px 2%;
 border-bottom: 1px solid #e0cbad;
 position: relative;
margin-top: 20px;
   	
   }
   

.cta-item.eml i{
	float: left;
	color: #898888;
	font-size: 3em;
	
	
}

img.diggy{
	float: right;
	width: 200px;
}

.lefty{
	float: left;
	width: 500px;
}

.avatard{
	border: 1px solid #333;
}


.soc-body{
	margin-top: 25px;
}

.cta-item.soc{
	padding: 10px 15px;
	color: #898888;
	margin: 0 auto;
	
}

.cta-item:hover{
	background-color: rgba(0,0,0,0.10);
	}

.cta-item.soc i{
	float: left;
	font-size: 3em;
	margin: 0 0 0 -5px;
}

.cta-item.soc i.fa-external-link{
	float: none;
	font-size: .6em;
	margin: 0 0 0 5px;
}

.cta-item.soc p{
	padding: 6px 0 0 9px;
	float: left;
	width: 73%;
}
.cta-item.soc.twit,
.cta-item.soc.farce{
	border-bottom: none;
}

table.subshow{
	width: 100%;
	float: left;
	font-family:  Georgia, Times, serif;
	font-family: "Helvetica","Arial",sans-serif;
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	
	
}
table.subshow th{
	height: 1em;
}

table.subshow tr td{
	border-bottom: 1px solid #e0cbad;
	padding: 13px 0;
}

.asteriskField{
	color: #c85252;
	font-size: .6em;
	vertical-align: super;
}

/* cart */

table.cartshow, table.ordershow{
	width: 100%;
	float: left;
	font-family:  Georgia, Times, serif;
	font-family: "Helvetica","Arial",sans-serif;
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	border-bottom: 1px solid #e0cbad;
}

table.cartshow thead, 
table.ordershow thead,
table.subshow thead{
	background-color: rgba(0,0,0,0.10);
}
table.cartshow tr, table.ordershow tr{
	height: 40px;
	
}


table.ordershow tr.subbie{
	border-bottom: 1px solid #e0cbad;
}

table.ordershow  .pcta{
	margin: 0px 0 20px 0;
}

table.ordershow h3{
	margin: 0;
}
.sendto{
	color: gray;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-size: 14px;
}

table th.item{
	padding: 0 0 0 10px;
}

table td.item,
table th.item{
	width: 30%;
	text-align: left;
	xbackground-color: lightblue;
}

table td.subttl,
table th.subttl{
	width: 5%;
	xbackground-color: pink;
	text-align: center;
}

table td.qty,
table th.qty{
	width: 5%;
	xbackground-color: green;
	text-align: center;
}
table td.update,
table th.update{
	width:10%;
	xbackground-color: gray;
	text-align: center;
}
table td.action,
table th.action{
	width: 10%;
	xbackground-color: pink;
	text-align: center;
}

table td.recip,
table th.recip{
	width: 40%;
	xbackground-color: pink;
	text-align: left;
}

table th.orderno{
	width: 7em;
	text-align: left;
	padding-left: 10px;
}
table th.orderdate{
	width: 8em;
	text-align: left;
	padding-left: 10px;
}
table th.orderdesc{
	text-align: left;
}
table th.orderamt{
	width: 4em;
	text-align: left;
	padding-left: 10px;
}

tr.ender
{
	width: 100%;
	border-bottom: 1px solid #e0cbad;
	height: 2px;
}


.records td {
	white-space: nowrap;
}

span.subitem{
	display: block;
	color: #7e7b7b;
	font-size: .9em;
	font-style: italic;
}

.tertal{
	float: right;
	border: 1px solid #e0cbad;

	padding: 10px 15px;
	text-align: right;

	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	width: 100%;
	margin: 10px 0 20px 0;

}
.tertal .tit{
		text-transform: uppercase;
		color: gray;
}
.tertal p {
	margin: 0;
}

.tertal hr{
	margin: 10px 0;
	}

.cartlink{
	margin: 5px 15px 0 0;
	float: right;	
}

a.loglink{
	margin: 10px 15px 0 0;
	float: right;
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-size: .9em;
}

.cart-form-control{
	float: right;
	margin: 40px 0;
	width: 100%;
}

.content-static .btn,
.content .btn{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: .9em;
	
}


#payment-form{
	margin-top: 20px;
	
}

#payment-form input{
	width: 100%;
}

#payment-form textarea{
	width: 100%;
	height: 8rem;
}

.erro {
	color: red;
}

#div_id_card{
	width: 75%;
	float: left;
}

#cvc {
	width: 20%;
	float: right;
}

#card_month{
	width: 48%;
	float: left;
}

#card_year{
	width: 48%;
	float: right;
}
.halfsies-left{
	width: 100%;
	float: left;
}
.thirdsies-right{
	width: 100%;
	float: right;
}

.thirdsies-right img{
	width: 100%;
}

.order-id-dim{
	float: left;
	margin: 0;
	font-family: arial;
	font-weight:bold;
	font-size:.8em;
	color:#827f7f;
	
	
}

.trustbox{
	width: 100%;
}

.reassure{
	font-family: arial;
	font-weight:bold;
	font-size:12px;
	color:#827f7f;
	text-align: center;
}

td.substatus{
	font-family: arial;
	font-weight:bold;
	font-size:.8em;
	color:#827f7f;
	text-align: center;
}

#usergo{
	border-bottom: 1px solid #e0cbad;
	margin-bottom: 50px;
}

img.secure{
float: right;	
margin: 20px 45% 0 0;
width: 100px;
}
ul.accepted{
	width: 65%;
	float: left;
	margin-top: 20px;
	display: block;
}

.accepted li{
	display: inline-block;
	xmargin-right: 1px;
	xmargin-top: 10px;
	
	
}

.accepted li img{
	xwidth: 40px;
}
a.chchange{
	margin: 10px;
}

.order_summary{
	margin: 20px 0 0 0;
}

#paystub,
#recipadd{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
}
#recipadd legend,
legend.fs-title{
	font-family: "MrsEavesRomanLiningRegular", Georgia, Times, serif;
	text-transform: none;
	font-weight: normal;
	margin-bottom: 35px;
	display: block;
	position: 	relative;
	
	width: 100%;
}

.twocol{
	float: left;
	width: 100%;
}

.or{
	float: left;
	padding-top: 15%;
	margin-left: 5%;
	width: 100%;
	text-align: left;
}

.twocol_2{
	float: right;
	width: 100%;
}
ul.reciplist{
	padding: 0;
}

ul.reciplist li{
	font-family: "helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-weight: normal;
	list-style-type: none;
	border-bottom: 1px solid #E0CBAD;
	
}


.soc-body:after{
	content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
}

.issue section.fullwidth{
	margin: 50px 0;
}


div.inside{
	background-color: #8e8d8c;
	width: 112%;
	margin: 0 -6%;
	border-bottom: 10px solid #333;
	border-t: 10px solid #333;
	color: #fff;
	font-size: .9em;
	padding:  0 5.1%;
}

div.inside p{
	width: 100%;
	float: right;
}

div.inside .bnrtease{
	display: none;
}

div.binside{
	background-color: #8e8d8c;
	width: 111.6%;
	xmargin: 0 -5.8%;
	border-bottom: 10px solid #333;
	xborder-top: 10px solid #333;
	color: #fff;
	font-size: .9em;
	padding:  15px 5.1%;
	width: 100%;
	border-right: 10px solid #333;
	border-left: 10px solid #333;

	box-sizing: border-box;
	
	
}



.bnrcta{
	float: right;
	width: 100%;
	margin: 0 0 3% 0;
}

.pcta{
	text-transform: uppercase;
	font-size: .75em;
	margin: 5px 5px;
	width: 100%;
	
}

.pcta i {margin-right: 5px;}

input.prodmit {
	width: 100%;
	
}

input.subrenew,
a.edit_rec{
	text-transform: uppercase;
	margin: 5px 5px;
	float: right;
	width: 8em;
}

.btnprice span{
	margin:  5px;
	vertical-align: bottom;
}

.btnprice input{
	
}

.issueteaser{
	margin: 0 0 60px 0;
	position: relative;
}

.issueteaser .hgroup{
	width: 69%;
	float: right;
	xwidth: 100%;
}

.issueteaser .inside-desc{
	font-size: .95em;
	color: #808080;
	float: right;
	width: 100%;
}

.issueteaser .issuthm{
	width: 28%;
	float: left;
}
.issueteaser .issuthm img{
	width: 100%;
}
.issueteaser .tagline-list{
	margin: 0 20px 0 5px;
}
.issueteaser .pcta{
	margin: 5px 0 8px 0;
	
}

.btnprice{
	position: relative;
	display: inline-block;
	width: 100%;
}

.btnprice span{
	
	font-size: .7em;
	font-family: georgia, serif;
	font-style: italic;
	color: #898888;
	
	display: block;
	width: 100%;
	text-align: center;

}

/* small */

.coverlist_wrapper{
	display: block;
}

ul.coverlist{
	display: block;	
	padding: 0 0 0 10%;
}

ul.coverlist li{
	display: block;
	width: 40%;
	margin:  10px ;
	float: left;
	
}




ul.coverlist li a img{
	width: 90%;
	text-align: center;
	border: 1px solid transparent;
	
	
	
}



ul.coverlist li span.vol{
	display: block;
	width: 100%;
	text-align: center;
	display: none;
	position: absolute;
	top: 50%;
	left:0;
}

ul.coverlist li a img:hover ~ span.vol{
	color: purple;
}

ul.coverlist li a img
{
	height: auto;
}

button.buy{
	text-transform: uppercase;
	margin: 3px;
	
}

#backissues:before { 
  display: block; 
  content: " "; 
  margin-top: -31px; 
  height: 31px; 
  visibility: hidden; 
}

a#buy.helium-buy-now,
a#buy.helium-addtocart,
a#buy.butn{
	background-color: #428bca;
	border-radius: 0px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 11px 12px;
	font-size: 14px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	box-shadow: none;
	font-family: "MrsEavesRomanLiningRegular", Georgia, Times, serif;
	text-transform: uppercase;
}

a#buy.helium-buy-now:hover,
a#buy.helium-addtocart:hover,
a#buy.butn:hover{
	background-color: #3276b1;
	border-color: #285e8e;
}

a.helium-addtocart{
box-sizing: content-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-ms-box-sizing: content-box;
-o-box-sizing: content-box;
background-clip: padding;
font-family: "Helvetica","Arial",sans-serif;
border: 1px solid #4c5c68;
display: inline-block;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-size: 12px;
font-weight: bold;
line-height: 1;
text-decoration: none;
height: 12px;
padding: 7px 10px;
margin: 8px;
color: #f5f5f5;
text-shadow: 0 -1px 0 rgba(0,0,0,5);
background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(255,255,255,.15)),to(rgba(0,0,0,.1)));
background: -moz-linear-gradient(0% 100% 90deg,rgba(0,0,0,.1),rgba(255,255,255,.15));
background-color: #798895;
box-shadow: 0 0 3px rgba(0,0,0,.4),0 3px 4px rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.4),0 3px 4px rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.2);
-moz-box-shadow: 0 0 3px rgba(0,0,0,.4),0 3px 4px rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.2);
cursor: pointer;
text-align: center;
position: relative;
text-transform: none;
-moz-box-sizing: content-box!important;
}


/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px 0 20px 0; }
.social-buttons > li { display: block; margin: 0; padding: 10px 20px 10px 35px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('../i/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

#mainmap{
	width:100%; 
	xheight: 600px;
	xheight: 100%;
	border: 10px solid #333;
	margin: 30px 0 10px 0;
	position: relative;
	display: block;
}

.leaflet-bar a{
   background-color: #f6f1e3;
}

/* remodal overides */

.remodal {
max-width: 550px;
}

.remodal-cancel{
	font-family:"helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color: gray;
	padding: 10px;
}
.remodal-confirm{
	font-family:"helvetica_neueregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
	color: #ffffff;
	 background-color: #428bca;
	 border-color: #357ebd;
	 padding: 10px;
	 }
	 
.remodal-confirm:hover,
.remodal-confirm:focus {
  background-color: #3276B1;
  border-color: #285E8E;
}	 
	
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}



.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}



.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.clearfix {
    *zoom: 1;
}





@media only screen and (min-width: 30em) {

/* Style adjustments for viewports larger than (480px/16px) = 30em */

.loglink{
	font-size: 1em;
}

p.findat{
	width: 49%;
	float: left;	
}

p.findat2{
	width: 49%;
	float: right;	
}

.soc-body:after{
	content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
}

.social-buttons > li { display: block; margin: 0; padding: 8px; float: left; }


section.narnia{
	background-attachment: fixed;
	}
	
.coverlist_wrapper{
	display: table;
	table-layout: fixed;
	width: 100%;
}

ul.coverlist{
	display: table-row;	
	width: 100%;
}

ul.coverlist li{
	list-style: none;
	display: table-cell;
	height: auto;
	position: relative;	
	width: auto;
	float: none;
}

div.inside .bnrtease{
	display: block;
	float: left;
	width: 15%;
	margin: 3% 0;
}

div.inside p{
	width: 81%
	}

.bnrcta{
	width: 81%;
	}
.pcta{
	width: auto;
	float: left;
}

input.prodmit{
	width: auto;
	float: left;
	
	margin-left: 2%;
	
}

.issueteaser .inside-desc{
	width: 69%;
}

.issueteaser .pcta{
	margin-bottom: 18px;
}

.btnprice span{
	

	
	display: inline;
	}


article.teaser .thumbnail{
	width: 33%;

}

article.teaser .hgroup{
	width: 65%;

}

.igbox{
	width: 300px;
}

.cart-form-control{
	width: auto;
}

.tertal{
	width: 200px;
	margin: -60px 0 20px 0;
}

.halfsies-left{
	width: 50%;
}
.thirdsies-right{
	width: 37%;
}

.twocol{
	width: 40%;
}

.or{
	width: 8%;
	text-align: center;
}

.twocol_2{
	width: 40%;
}

	
}


@media only screen and (min-width: 39em) {
    /* Style adjustments for viewports larger than (624px/16px) = 39em */
    body{
    	font-size: 100%;
    }
    
  
    
    header.banner{
    	height: 60px;
    }
    h1.logo a {
    	background-size:  80px 18px;
    	height:28px;
    	width: 80px;
    	margin: 12px 0 1px 9px;

    }
    #lerg{
    width: 74px;
    display: block;
    float: left;
    height: 22px;
    margin: 10px 0 10px 10px;
    }
    
   .png_logo{
   	width: 74px;
   	margin: 0;
   }
   
    .lt-ie9 h1.logo a{
    	background: transparent url('../i/post-logo-derpy-med.png') no-repeat left top;
    }
    
    .hr{
    	top: 50px;
    	}
    .hr-flat{
    	top: 50px;
    }
    nav.mm{
    	width: 73.5%;
    	
    	margin:10px 0 0 12px;
    }
    
    nav.mm ul li a{
    font-size: 1em;
    }
    
    nav.mm ul li a.notify{
    	font-size: .7em;
   
    }
    
    .cartlink{
    	margin: 10px 20px 0 0;
    	float: right;	
    }
    
   #mainmap{
   		margin: 50px 0 10px 0;
   
   }
    
    .brick.iso{
    	padding: 1% 2.5% 1% 1%;
    }
    
    #signerupper{
    	width: 70%;
    }
    
    #email_signup_form{
    	margin-left: 100px;
    }
    
    #submit_email_signup{
    	margin-top: 0;
    	font-family: "mrs_peaves_otroman", Georgia, Times, serif;
    	font-size: .75em;
    }
    
    section.primary{
    	width: 68%;
    	float: left;
    }
    section.fullwidth.twoup figure:first-child,
    section.fullwidth.threeup figure:first-child {
    	margin-left: 0;
    }
    
    section.fullwidth.twoup figure:last-child,
    section.fullwidth.threeup figure:last-child {
    	margin-right: 0;
    }
    
    section.fullwidth.threeup figure{
    	width: 32%;
    	float: left;
    	margin: 0 1%;
    }
    
    section.fullwidth.twoup figure{
    	width: 49%;
    	float: left;
    	margin: 0 1%;
    }
    
   section.content-static{
   	 padding:  70px 5.1%;
   }
    

    .threequarter{
    	float: left;
    	width: 50%;
    }
    
    .adpic{
    	float: right;
    	width: 40%;
    	
    	
    }
    
    ul.bios{
    	margin-top: 15px;
    }
    
  
    #backissues:before { 
      margin-top: -71px; 
      height: 71px; 
    }
   
    .cta-item.soc i,
    .cta-item.eml i{
    	font-size: 5em;
    }
    .cta-item.soc p{padding-top: 25px;}
    
    img.stack{
    	
    	margin: -60px 20px -50px -55px;
    }
    
    .digyr img.stack{
    	margin-bottom: -60px;
    }
    
   
    
    
    
  
    aside.secondary{
    	width: 28%;
    	float: right;
    }
    aside .authorship{
    border-top: none;
    margin-top: 7%;
    padding-bottom: 15px;
    margin-bottom: 8%;
    
    
    }
    
    aside.secondary .pullquote{
    	font-size: 1.3em;
    	display: block;
    }
    
    aside.secondary .testimonial{
    	font-size: 1.2em;
    	line-height: 1.4em;
    	display: block;
    }
    
    
    aside.more{
    	width: 48%;
    	float: left;
    	margin: 0 2% 0 0;
    }
    
    aside .sponsor{
    	margin-top: 10px;
    	border-top: none;
    	
    }
    
    .socialper{
    	height: 150px;
    	
    	
    }
    
    
    aside.more{
    	border-right: 1px solid #e0cbad;
    	padding:  0 2% 0 0;
    }
    aside.creators{
    width: 48%;
    float: left;
    
    padding: 0 0 0 0;
    border-top: none;
    border-bottom: none;
    
    	
    }
    aside.message{
    width: 32%;
    float: left;
    	
    }
    
    h2.list{
    	font-size: 2.5em;
    }
    
    h2.unique{
    	font-size: 4em;	
    	
    }
    
    h2.unique a{
    	color: #fff;
    }
    
    p.tagline{
    	font-size: 1.2em;
    	
    }
    
       
    footer.footer{
    	font-size: 1em;
    }
    
    
        
}


@media only screen and (min-width: 46em) {
    /* Style adjustments for viewports larger than (736px/16px) = 39em */
    span.subitem{
    	display: inline;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
