{% extends "base.html" %}

{% block title %}{{ block.super }} {% endblock %}

{% load fb_versions %}

{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}


{% block content %} 

       <section class="content-static">

       		
       		
       		
       		
	        
	        <div class="brick only clearfix">
	        
		        <h2 class="list-title">Previously featured</h2>
   

    {% for object in object_list %}
    
    <article class="fullwidth teaser">
    	<div class="hgroup">
    		<h2 class="list"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    		<p class="tagline-list">{{ object.tagline }}</p>
    	</div>	        	
    	
    </article>
    
  
    {% endfor %}
    
    </section>
   
{% endblock %}

