{% extends "base.html" %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block bodyclass %}article {{ object.slug }}{% endblock %}

{% load fb_versions %}
{% load static %}



{% block smmeta %}
{% version_object article.hero 'large' as hero_large %}
	<meta property="og:title" content="{{ object.title }}">
	<meta name="description" content="{{ object.intro }}">
	<meta property='og:url' content='http://{{ site.domain }}{{ object.get_absolute_url }}'>
	<meta property='og:image' content="http://{{ site.domain }}{% version object.hero 'large' %}">
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:image:width" content="{{ hero_large.width }}">
	<meta property="og:image:height" content="{{ hero_large.height }}">
	
	
	



	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="{{ object.title }}">
	<meta name="twitter:description" content="{{ object.intro }}">
	<meta name="twitter:image:src" content="http://{{ site.domain }}{% version object.hero 'small' %}">



	
{% endblock %}


{% block headernav %}
<header class="banner">
	<div class="headerwrap{% if object.screen %} screen{% endif %}">
    	<h1 class="logo"><a href="/">POST</a></h1>
    	
    	<nav class="mm">
    		<ul>
    			<li><a href="/about/">about</a></li>
    			<li><a href="{% url 'article_list' %}">articles</a></li>
    			<li><a href="/subscribe/">subscribe</a></li>
    			
    		</ul>
    	</nav>
    </div>
 
    <img class="sticky" src="{% version object.hero 'large' %}" alt="{{ object.hero.filename }}" />
    
    <div class="hr"> </div>
	
</header>

{% endblock %}

{% block sticky %} {{ block.super }} <img class="sticky" src="{% version article.hero 'large' %} " alt="{{ object.hero.filename }}" /> {% endblock %}

{% block content %}


<article class="full">
 	<header>
     	<img class="boom" src="{% version article.hero 'large' %}" alt="{{ object.hero.filename }}" />
     	<div class="hgroup">
	        	<h2 class="unique"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
	        	<p class="tagline">{{ object.tagline }}</p>
     	</div>
 	</header>
 

<section class="content">

	<div class="brick first">
		 <section class="primary">
		<p><em>{{ object.standfirst|safe }}</em></p>
		
		</section> 
		<aside class="secondary">
			<div id="authorship" class="authorship clearfix">
				
				
				{% if object.author.all %}
				<p>by 
				
				{% for author in object.author.all %}
				    {% if author.link %}
					  <a href="{{ author.link }}">{{ author.name }}</a>
					{% else %}
					  {{ author.name }}
					{% endif %}
					{% if forloop.last %}{% else %}
					{% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
					{% endif %}
				{% endfor %}
				</p>
				{% endif %}
				
				
				{% if object.photog.all %}
				<p>photography by 
				
				{% for photog in object.photog.all %}
				    {% if photog.link %}
					  <a href="{{ photog.link }}">{{ photog.name }}</a>
					{% else %}
					  {{ photog.name }}
					{% endif %}
					{% if forloop.last %}{% else %}
					{% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
					{% endif %}
				{% endfor %}
				</p>
				{% endif %}
			
			
				{% if object.illus.all %}
				<p>Illustrations by 
				
				{% for illus in object.illus.all %}
				    {% if illus.link %}
					  <a href="{{ illus.link }}">{{ illus.name }}</a>
					{% else %}
					  {{ illus.name }}
					{% endif %}
					{% if forloop.last %}{% else %}
					{% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
					{% endif %}
				{% endfor %}
				</p>
				{% endif %}
			</div>
			
			
		
		</aside>      		
	</div>
	
	<div class="brick">
	   			
	   		
	   		</div>


    
    {{ object.body|safe }}
    
 <div class="brick last clearfix">
 	        	<aside class="more">
 	        		
 	        		<p>{{ object.more_info|safe }}</p>
 	        		
 	        		
 	        		
 	        		
 	        		
 	        		<div class="socialper">
 	        		
 	        		<!-- Replace YOUR_CUSTOM_URL with the URL you're sharing -->
 	        		
 	        		<ul class="socialcount" data-url="http://{{ site.domain }}{{ object.get_absolute_url }}" >
 	        		
 	        		<li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ site.domain }}{{ object.get_absolute_url }}" title="Share on Facebook"><span class="icon icon-facebook"></span><span class="count">Like</span></a></li>
 	        		
 	        		<li class="twitter"><a href="https://twitter.com/intent/tweet?text=http://{{ site.domain }}{{ object.get_absolute_url }}" title="Share on Twitter"><span class="icon icon-twitter"></span><span class="count">Tweet</span></a></li>
 	        		
 	        		<li class="googleplus"><a href="https://plus.google.com/share?url=http://{{ site.domain }}{{ object.get_absolute_url }}" title="Share on Google Plus"><span class="icon icon-googleplus"></span><span class="count">+1</span></a></li>
 	        		
 	        		</ul>
 	        		
 	        		</div>
 	        	
 	        	</aside>
 	        	
 	        	<aside class="creators clearfix">
 	        		
 	        		
 	        		{% if object.author.all %}
 	        		   {% for author in object.author.all %}
 	        			  <p>{{ author.colophon|safe }}</p>
 	        		   {% endfor %}
 	        		{% endif %}
 	        		
 	        		{% if object.photog.all %}
 	        		    {% for photog in object.photog.all %}
 	        			  <p>{{ photog.colophon|safe }}</p>
 	        			{% endfor %}
 	        		{% endif %}
 	        		
 	        		{% if object.illus.all %}
 	        		    {% for illus in object.illus.all %}
 	        			  <p>{{ illus.colophon|safe }}</p>
 	        			{% endfor %}
 	        		{% endif %}
 	        			
 	        			
 	        		
 	        		
 	        	
 	        	</aside>
 	        	
 	        <div class="sponsor"
 	             intent
 	             in-standard-after="#authorship">
 	        	<p> This article has been sponsored by: </p>
 	        	<img src="{% version object.sponsor.adimg 'medium' %} " alt="{{ object.sponsor.name }}" />
 	        	
 	        </div>
 	        	
 	        	
 	        </div><!--brick-->   
    
    </section>
    
    	 </article>
 

{% endblock %}


{% block inlinejs %}<script type="text/javascript">{{ object.special_js|safe }}</script>{% endblock %}
{% block inlinecss %}<style type="text/css">{{ object.special_css|safe }}</style>{% endblock %}