{% extends "articles/article_detail.html" %}

{% block extrahead %}<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script> {% endblock %}




{% block mapsidebar %}
<div class="mapwrap" intent in-standard-after="#authorship" in-mobile-before="#ender" in-tablet-before="#ender">
	<div id="sidemap">
	
	
	
	</div>
	<a class="mapcredits"href='https://www.mapbox.com/about/maps/' target='_blank'>Map: &copy; Mapbox &copy; OpenStreetMap</a>
</div>


{% block mapcode %}
{% if object.mapcode %}
	<script type="text/javascript"> 
	{{ object.mapcode|safe }}
	</script>
{% endif %}

{% endblock %}




{% endblock %}



