{% extends "base.html" %}

{% block title %}Featured Articles | {{ block.super }} {% endblock %}

{% load fb_versions %}

{% block smmeta %}

	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">

	<meta property='og:title' content='Post. This is Rochester'>
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta property='og:url' content='http://{{ site.domain }}/articles/'>
	<meta property='og:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>
	
	
	
	



	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="Post. This is Rochester">
	<meta name="twitter:description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta name='twitter:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>



{% endblock %}


{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}


{% block content %} 

       <section class="content-static">

       		
       		
       		
       		
	        
	        <div class="brick only clearfix">
	        
		        <h2 class="list-title">Featured Articles</h2>
   

    {% for object in object_list %}
    
    <article class="fullwidth teaser clearfix">
    {% if object.hero_alt %}
     <img class="thumbnail" src="{% version object.hero_alt 'threeup' %} " alt="{{ object.hero_alt.filename }}" />
    {% else %}
     <img class="thumbnail" src="{% version object.hero 'threeup' %} " alt="{{ object.hero.filename }}" />
    {% endif %}
    	<div class="hgroup">
    		<h2 class="list"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    		<p class="tagline-list">{{ object.tagline }}</p>
    		<p class="intro">{{ object.intro|safe }}</p>
    	</div>	        	
    	
    </article>
    
    
    
  
    {% endfor %}
    
     {% block attached %}
     {% endblock %}
     
    </section>
     
   
{% endblock %}

