{% extends "articles/article_detail.html" %}

{% block extrahead %}{{ block.super }}
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script> 
{% endblock %}




{% block mapsidebar %}
<div class="mapwrap" intent in-standard-after="#authorship" in-mobile-before="#ender" in-tablet-before="#ender">
	<div id="sidemap">
	
	
	
	</div>
	<a class="mapcredits"href='https://www.mapbox.com/about/maps/' target='_blank'>Map: &copy; Mapbox &copy; OpenStreetMap</a>
</div>


{% block mapcode %}
{% if object.mapcode %}
	<script type="text/javascript"> 
	L.mapbox.accessToken = 'pk.eyJ1IjoiZHZwb3N0IiwiYSI6ImxPbmw3RFEifQ.hgjg33qNqNNFJrfZXu0lxw';
	{{ object.mapcode|safe }}
	</script>
{% endif %}

{% endblock %}




{% endblock %}



