{% extends "base.html" %}

{% block title %}Issues | {{ block.super }} {% endblock %}

{% load fb_versions %}

{% block smmeta %}

	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">

	<meta property='og:title' content='Post. This is Rochester'>
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta property='og:url' content='http://{{ site.domain }}/archive/'>
	<meta property='og:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>
	
	
	
	



	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="Post. This is Rochester">
	<meta name="twitter:description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta name='twitter:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>



{% endblock %}


{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}


{% block content %} 

       <section class="content-static">

       		
       		
       		
       		
	        
	        <div class="brick only clearfix">
	        
		        <h2 class="list-title">Issues</h2>
   

    {% for object in object_list %}
    
    <article class="fullwidth issueteaser clearfix">
        
        <a class="issuthm" href="{{ object.get_absolute_url }}">
        <img src="{% version object.cover_img 'threeup' %}" alt="{{ object.cover_img.filename }}" />
        </a>
    	<div class="hgroup">
    		<h2 class="list"><a href="{{ object.get_absolute_url }}">{{ object.volume }}</a></h2>
    		<p class="tagline-list">{{ object.month }}</p>

    	</div>
    	<div class="inside-desc">
    		<p>{{ object.inside }}</p>
    		
    		
    	 
    	   {% if object.for_sale %}
            <div class="btnprice">
                <form class="prodqty" method='POST' action='{% url "add_to_cart" object.slug %}'>
                {% csrf_token %}
                     <input type='submit' class="prodmit btn btn-primary pcta" value='Buy It: $11' />
                     <span>$7+$4 S/H</span>
                </form>
                
            </div>
            {% else %}
            <a  class="btn btn-default pcta" >Sold Out!</a>
            {% endif %}
    	</div> 
    	       	
    	
    </article>
    
  
    {% endfor %}
    
    </section>
   
{% endblock %}

<div class="btnprice">
                <a data-cart-add="pb20151112" data-cart-show="1" class="btn btn-primary pcta">Buy It: $11</a>
                <span>$7+$4 S/H</span>
            </div>

