{% load fb_versions %}

<h3 id="backissues">Back Issues</h3>
<p>Available in limited quantities while supplies last. A shipping charge of $6 will be automatically added to your order. To order multiples of the same issue, close the cart and click "Add to Cart" again.<br>
For any questions regarding your order, please contact us at <a href="mailto:info@postrochester.com">info@postrochester.com</a></p>

{% for backissue in backissueset %}
	


<div class="cta-item clearfix backish">
	<img src="{% version backissue.cover_img 'product_thumb' %}" alt="stack of magazines" class="prod">
	<p class="subber">{{ backissue.volume }}&mdash; {{ backissue.month }}: ${{ backissue.price|floatformat:2 }} 
	
	<a data-cart-add="{{ backissue.sku }}" data-cart-show="1" class="helium-addtocart" id="buy">Add to Cart</a>
	</p>
</div>

{% endfor %}

