<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Post. This is Rochester.{% endblock %}</title>
        
        
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.maximage.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?v1.0">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/socialcount-with-icons.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>
        {% block inlinecss %}{% endblock %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>

        <script src="https://s3.amazonaws.com/he3/helium.js" id="Helium" data-key="nct1ewv4hnu7uk4me2" data-test="1"></script>
        
        <script type="text/javascript">
       
        </script>
                
        <!--global SM meta -->
        
      	<meta name="apple-mobile-web-app-capable" content="yes" />
        <meta property='og:locale' content='en_US'/>
        <meta property='og:type' content='website'/>
        <meta property='og:site_name' content='Post'/>
        <meta property='fb:admins' content='1395962689'/>
        <meta property='fb:admins' content='1161550079'/>
        
        
        
		{% block smmeta %}{% endblock %}
        
        
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
                    
<!--                                                                  
          ______       ____      _______  _________  
         |_   __ \   .'    `.   /  ___  ||  _   _  |  
           | |__) | /  .--.  \ |  (__ \_||_/ | | \_|  
           |  ___/  | |    | |  '.___`-.     | |      
          _| |_     \  `--'  / |`\____) |   _| |_     
         |_____|     `.____.'  |_______.'  |_____|
   ___     __      __     __  __  __      ___ ________ __  
    ||__||/__`   |/__`   |__)/  \/  `|__||__ /__`||__ |__) 
    ||  ||.__/   |.__/   |  \\__/\__,|  ||___.__/||___|  \ 
                                                                           
 
-->

{% block headernav %} {% endblock %}



 <div id="wrapper">

        
        {% block content %}
        
        
        {% endblock %}
 
 <footer class="footer">
 
 
 <div class="footernavs clearfix">
 	
 	<div class="internalnav">
 	<nav class="footy">
 		<ul>
 			<li><a href="/about/">about</a></li>
 			<li><a href="/articles/">articles</a></li>
 			<li><a href="/subscribe/">subscribe</a></li>
 			<li><a href="/advertise/">advertise</a></li>
 		</ul>
 	</nav>
 	 
 	
 	</div>
 	
 	 <nav class="tehweb">
 		 
 		 <ul class="social">
 		 	<li><a href="https://www.facebook.com/PostRochester">Farcebook</a></li>
 		 	<li><a href="https://twitter.com/PostRochester">Twitter</a></li>
 		 	<li><a href="http://instagram.com/postrochester">Instagram</a></li>
 		 	<li><a href="/feed/">RSS Feed</a></li>
 		 	<li><a href="/subscribe#eml">Email List</a></li>
 		 </ul>
 	</nav>
 	
 	<h1 class="deadly">This is Rochester.</h1>
 </div><!--footernavs-->
 
         		
			
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
 		<script src="{{ STATIC_URL }}js/main.js"></script>
 		<script src="{{ STATIC_URL }}js/vendor/jquery.fittext.js"></script>
 		<script src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
 		<script src="{{ STATIC_URL }}js/vendor/intention.js"></script>
 		<script src="{{ STATIC_URL }}js/context.js"></script>
 		<script src="{{ STATIC_URL }}js/vendor/socialite.min.js"></script>
 		
 		
 		
 		{% block inlinejs %}{% endblock %}
 		
 		
 		
        <script>
          
        </script>
        			
		
		
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'xUA-3471808-20', 'postrochester.com');
          ga('send', 'pageview');
        
        </script>
    </body>
</html>
