<div class="page-wrap">
			<!--<div id="logo">
 				<h1>POST</h1>
 			
 			</div>-->
			<div id="controlbar">
			
      		<a href="" id="arrow_left"></a>
      		<div class="ditty"></div>
      		<h1 class="logo">POST</h1>
      		<div class="tagline">A magazine launching <br>late summer 2013</div>
      		<a href="" id="arrow_right"></a>
      	</div>
  		
  		<img id="cycle-loader" src="{{ STATIC_URL }}i/ajax-loader.gif" />
  		<div id="maximage">
  			<div>
  				<img src="{{ STATIC_URL }}i/patina_bg.jpg" alt="" />
  				<div class="in-slide-content" style="display:none;">
      				<p class="roch">Rochester </p>
	        				<ul id="aheadlist">
	        				<li>art </li>
	        				<li>culture </li>
	        				<li>architecture </li>
	        				<li>food </li>
	        				<li>music </li>
	        				<li>design </li>
	        				<li>people </li>
	        				
	        				</ul>
      				<p class="rochahead">ahead</p>
      				
  				</div>
  			</div>
  			<div>
  				
  				 <img src="{{ STATIC_URL }}i/qpic1.jpg" alt="" />
  				<div class="in-slide-content" style="display:none;">
  					<p class="quote">i want to do exactly what i’m doing, but with the luxury of a billionaire to build more museums.
  					</p>
  					<p class="source">&mdash; Louis Perticone, Artisanworks</p>
  					<p class="vibe"><b>Character</b> <br>Ahead</p>
  					
  				</div>
  			</div>
  			
  			<div>
      			<img src="{{ STATIC_URL }}i/qpic2.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">accept and enjoy what we offer. don’t make
      				a fuss.
      				</p>
      				<p class="source">&mdash; Mark Cupola, Rocco</p>
      				<p class="vibe"><b>Real Food</b> <br>Ahead</p>
      			</div>
      			
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic3.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">i call it the secret wilderness.</p>
      				<p class="source">&mdash; Ken Altfather, Bay Creek Paddling Center</p>
      				<p class="vibe"><b>Adventure</b> <br>Ahead</p>
      				
      			</div>
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic4.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">i don‘t really believe that the only thing to fear is fear itself.
      				</p>
      				<p class="source">&mdash; Elaine Spaull, City Councilmember &amp; Executive Director, the Center for Youth Services</p>
      				<p class="vibe"><b>Free Speech</b> <br>Ahead</p>
      				
      			</div>
      			
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic5.jpg" alt="" />
      			
      			<div id="bigslide" class="in-slide-content" style="display:none;">
      				<p class="quote">over the years we have seen kids who have endured just about any kind of human suffering you can imagine.</p>
      				<p class="source">&mdash; Kim Urbach, Chairperson NYS Coalition for School-Based Health Centers </p>
      				<p class="vibe"><b>Healing</b> <br>Ahead</p>
      				
      			</div>
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/patina_bg.jpg" alt="" />
      			<div class="in-slide-content" style="display:none;">
      				
      			</div>
      		</div>
      		
  		</div>
  		</div> <!--page-wrap-->