<div class="page-wrap">
			
			<div id="controlbar">
			
      		<a href="" id="arrow_left"></a>
      		<div class="ditty"></div>
      		<h1 class="logo">POST</h1><a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01" id="buy">Subscribe</a>
      		
      		
      		<div class="tagline">Available now.</div>
      		
      		
      	
      		
      		<a href="" id="arrow_right"></a>
      	</div>
  		
  		<img id="cycle-loader" src="{{ STATIC_URL }}i/ajax-loader.gif" />
  		<div id="maximage">
  			
  <!--		<div>
  				<img src="{{ STATIC_URL }}i/patina_bg.jpg" alt="" />
  				<div class="in-slide-content" style="display:none;">
  					<p class="vibe"><b>Rochester</b> <br>Ahead</p>
  				</div>
  			</div>
-->  			
  			<div>
  				
  				 <img src="{{ STATIC_URL }}i/qpic1.jpg" alt="" />
  				<div class="in-slide-content" style="display:none;">
  					<p class="quote">I don’t really care what I grow as long as I get to spend most of my day outside.
  					</p>
  					<p class="source">&mdash; Todd Lighthouse, Lighthouse Gardens</p>
  					<p class="vibe"><b>Green</b> <br>Ahead</p>
  					
  				</div>
  			</div>
  			
  			<div>
      			<img src="{{ STATIC_URL }}i/qpic2.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">It would be very hard to do what I do and be afraid to die.
      				</p>
      				<p class="source">&mdash; Dr. Daniel Mendelson, Director of Palliative Care, Highland Hospital</p>
      				<p class="vibe"><b>Equinimity</b> <br>Ahead</p>
      			</div>
      			
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic3.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">I knew the days of the week by the food. By menus. By fish deliveries...</p>
      				<p class="source">&mdash; Jerry Vorrasi, Chef and Restaurateur</p>
      				<p class="vibe"><b>Good Food</b> <br>Ahead</p>
      				
      			</div>
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic4.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="quote">Because I don’t like rules, especially if they’re blocking access.
      				</p>
      				<p class="source">&mdash; Howie Jacobson, Red Rock 1886</p>
      				<p class="vibe"><b>New Directions</b> <br>Ahead</p>
      				
      			</div>
      			
      		</div>
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/qpic5.jpg" alt="" />
      			
      			<div id="bigslide" class="in-slide-content" style="display:none;">
      				<p class="quote">…I was making them out of beer boxes and cereal boxes…</p>
      				<p class="source">&mdash; Nate Minnehan, WalknTalk</p>
      				<p class="vibe"><b>ingenuity</b> <br>Ahead</p>
      				
      			</div>
      		</div>
      		
      		
      		
      		<div>
      			<img src="{{ STATIC_URL }}i/patina_bg.jpg" alt="" />
      			
      			<div class="in-slide-content" style="display:none;">
      				<p class="premiere">Issue Number Two Available Now at:</p>
      					<p class="source">Java's on Gibbs<br>
      					Good Luck<br>
      					Scott Miller Salon<br>
      					Abundance Co-op<br>
      					Memorial Art Gallery<br>
      					Mann's Jewelers<br>
      					Red Barn<br>
      					Dado<br>
      					Arena's<br>
      					Thread<br>
      					Pittsford Dairy Bakery
      				</p>
      				      					
      				</div>
      			</div>
      		</div>
      		
      		
      		
      		
  		</div>
  		</div> <!--page-wrap-->