{% extends "base.html" %}

{% block title %}Checkout | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}




{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% load cart_tags %}
{% load order_tags %}

{% block content %}
{{ block.super }}

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 
  
 
  

<section class="content-static">
  <div class="brick clearfix">
  

    <div class="wrapper content">
        
      
        <h2>My Order</h2>
         <p class="order-id-dim">#{{ order.order_id }}</p>
         <div class="table-responsive">
        <div class="tertal">
                <p><span class="tit">Sub Total: </span>${{ cart.product_total|floatformat:2 }}<br>
                <span class="tit">Shipping:</span> ${{ cart.shipping_total|floatformat:2 }}</p>
                <hr>
                <p><span class="tit">Grand Total:</span> ${{ cart.total|floatformat:2 }}</p>
                

            </div>


  <table class="table ordershow">
                 <thead>
                  <tr>
                    <th class="item">Item</th>
                    <th class="recip">Recipient</th>
                    <th class="action"> Auto Renew</th>
                    <th class="action"> Action</th>
                
                  </tr>

                </thead>
                <tbody>


                
                  {% for item in subbies %}


                    {% get_last_record item.recipient as the_last_record %}

                      
                    <tr class="subbie"> 
                      {% if item.subscription.type == 2 %} <!-- 2 is renewal -->
                        {% get_first_month the_last_record as the_first_month %}
                        {% get_second_month the_last_record as the_second_month %}
                        {% get_season the_last_record as the_season %}
                        {% get_year the_last_record as the_year %}
                          
                      
                        <td class="item">{{ item.subscription.title }}<br>
                          <span class="subitem">renewing with Issue {{ the_last_record }}<br> 
                          ({{ the_season }} {{the_year|date:"Y"}}) 
                          </span>
                        </td>
                         
                        <td class="recip">
                          <span class="sendto">send to:</span><br>
                          {% if item.recipient %}
                            {% with item.recipient as item %}
                             {% include "customers/address_display.html" %}
                            {% endwith %}
                            
                               
                          {% endif %}
                        </td>

                      {% else %} <!-- 1 is rolling 1 year -->

                        {% get_season item.subscription.first_issue as the_season %}
                          {% get_year item.subscription.first_issue as the_year %}



                        <td class="item">{{ item.subscription.title }}<br>
                          <span class="subitem">starting with Issue {{ item.subscription.first_issue }}<br> ({{ the_season }} {{the_year|date:"Y"}})</span>
                        </td>
                         
                        <td class="recip">
                          <span class="sendto">send to:</span><br>
                          {% if item.recipient %}
                            {% with item.recipient as item %}
                             {% include "customers/address_display.html" %}
                            {% endwith %}
                                <a href="{% url "add_recipient" %}?itm={{item.id}}&next=checkout" class="btn btn-primary pcta">Change Address</a>
                          {% else %}
                                <a href="{% url "add_recipient" %}?itm={{item.id}}&next=checkout" class="btn btn-primary pcta">Add Address</a>
                          {% endif %}
                        </td>
                      {% endif %}
                      <td class="action">
                      <form action="{% url 'toggle_renew' item.id %}" method="POST" id="autocheck" >{% csrf_token %}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="autoRenew" {% if item.auto_renew %} checked {% else %} {% endif %} onclick="this.form.submit();"> 
                          </label>
                        </div>

                        </form>
                      </td>
                      <td class="action">

                      
                      
                      <a href="{% url "remove_from_cart" item.flug %}"><i class="fa fa-times fa-lg"></i></a>
                      </td>
                      
                    </tr>
                  {% endfor %}


                  {% for item in singles|slice:":1" %}
                    
                  <tr>
                    <td class="item">{{ item.single.month }} issue ({{item.quantity}})</td>
                    <td rowspan="{{ singles|length }}" class="recip">
                        {% if forloop.first %}
                        <span class="sendto">send to:</span><br>
                            {% if order.main_recipient %}
                                    
                                    {% with order.main_recipient as item %}
                                        {% include "customers/address_display.html" %}
                                    {% endwith %}
                                    
                                    <a href="{% url "add_recipient" %}?rec={{order.id}}&next=checkout" class="btn btn-primary pcta">Change Address</a>
                            {% else %}
                                    <a href="{% url "add_recipient" %}?rec={{order.id}}&next=checkout" class="btn btn-primary pcta">Add Address</a>
                            {% endif %}
                        {% endif %}
                    </td>

                      <td class="action">
                      </td>

                     <td class="action"><a href="{% url "increment_cart" item.flug %}"><i class="fa fa-plus fa-lg"></i></a>
                    <a href="{% url "decrement_cart" item.flug %}"><i class="fa fa-minus fa-lg"></i></a>
                    <a href="{% url "remove_from_cart" item.flug %}"><i class="fa fa-times fa-lg"></i></a>
                    </td>
                   
                  </tr>
                  {% endfor %}

                  {% for item in singles|slice:"1:" %}
                    
                  <tr>
                    <td class="item">{{ item.single.month }} issue ({{item.quantity}})</td>
                    
                   
                  </tr>
                  {% endfor %}
               


               </tbody>
                
          </table>
          </div>


   
         
<div id="paystub" >

        

 <section class="messages">
    {% if messages %}
        {% for message in messages %}
            <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    </section>

    <div class="thirdsies-right">

    <div id ="usergo">
    <h2>Account Details</h2>
    {% if user.is_authenticated %}
        <p><i class="fa fa-user" aria-hidden="true"></i> You're logged in as {% if user.first_name %} 
          {{user.first_name}} {{ user.last_name}} 
          {% else %}
          {{ user }}
          {% endif %} </p>

    {% elif not user.is_authenticated and subbies %}
   
    <p class="error-block">Purchasing a subscription requires an account. <a href="{% url 'auth_login' %}?next={% url 'checkout' %}">LOGIN</a> or <a href="{% url 'signup' %}?next={% url 'checkout' %}">REGISTER</a> to save your order information.</p>
    {% else %}
    <p class="warning-block">You're checking out as a guest. No problem! However, if you were to <a href="{% url 'auth_login' %}?next={% url 'checkout' %}">LOGIN</a> or <a href="{% url 'signup' %}?next={% url 'checkout' %}">REGISTER</a>, we can save your order details for you.</p>
    {% endif %}
    

</div>

   

  <div class="trustbox">
    <img class="credit" src="/assets/i/credit-cards.svg">
    <a href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none; text-align:center; width:100%; display: block; margin: 20px auto;"><img style = "max-width: 96px;" src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="SSL Certificate" title="SSL Certificate" border="0" /></a>
    <div class="reassure">
    <p>This transaction is protected by a 2048 bit industry standard SSL certificate.</p> 
    </div>
  </div>
  <a class="btn btn-primary" href="{% url "email" order.order_id %}">EMAIls<i class="fa fa-times fa-lg"></i></a>
  <a class="btn btn-primary" href="{% url "email_preview" order.order_id %}">EMAIl rpeveew<i class="fa fa-times fa-lg"></i></a>

</div>

<div class="halfsies-left">

 <h2>Payment</h2>

  {% if user.is_authenticated and user.creditcard_set.all %}

      {% checkout_ccs request paygo %} 
      
  {% endif %}
 

 
    <form autocomplete="on" action="" method="POST" id="payment-form" >{% csrf_token %}
    

     
      {{ pay_form }}

      <div class="erro">
        <span class="payment-errors"></span>
      </div>


      <div id="div_id_name" class="form-group">
        <label for="id_name" class="control-label ">Name </label>
        <div class="controls ">
          <input type="text" class="textinput textInput form-control" size="20" value="{% if user.first_name %}{{user.first_name}} {{ user.last_name}}{% endif %}" name="name" > 
        </div>
      </div>

      <div id="div_id_email" class="form-group">
        <label for="id_email" class="control-label ">Email </label>
        <div class="controls ">
          <input type="text" class="textinput textInput form-control" size="20" value="{% if user.email %}{{user.email}}{% endif %}" name="email" />
        </div>
      </div>
      

      

      <div class="form-group clearfix">

        <div id="div_id_card" >
          <label for="id_card" class="control-label">Card Number </label>
          <div class="controls ">
            <input type="tel" class="textinput textInput form-control cc-number" autocomplete="cc-exp" size="20" data-stripe="number" placeholder="•••• •••• •••• ••••" required {% if paygo == False or usergo == False %} disabled{%endif%}>
          </div>
        </div>

        <div id="cvc" >
          <label>CVC</label>
          <input type="tel" class="form-control cc-cvc" size="4" data-stripe="cvc" autocomplete="off" placeholder="•••" required {% if paygo == False or usergo == False %} disabled{%endif%}>
        </div>

      </div>

      

      <div class="form-group clearfix">

            
        <div id="card_month" class="form-group">
          <label>Exp Month</label>
          <input type="tel" class="form-control" size="2" data-stripe="exp-month" placeholder="MM" {% if paygo == False or usergo == False %} disabled{%endif%}>
        </div>

      
        <div id ="card_year" class="form-group">
          <label>Exp Year</label>
          <input type="tel" class="form-control" size="4" data-stripe="exp-year" placeholder="YYYY" {% if paygo == False or usergo == False %} disabled{%endif%}>
        </div>
                  
      </div>

      <div class="form-group clearfix">
        <button type="submit" class="btn btn-primary pcta {% if paygo == True %} {% else %}disabled{% endif %}">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <i class="fa fa-lock"></i>Submit Payment
        </button>
        <a class="btn btn-default pcta" href="{% url 'cart_empty' %}" role="button">Cancel</a>
      </div>


    </form>

 

    {% if subbies %}
          <div class="auto_msg">
            <p>By selecting "Auto-Renew" for one or more subscriptions in your order, you agree to let us charge your selected payment method again next year and automatically renew your subscription. (You'll never miss an issue!)  We'll send you an email before we do that, and you can cancel any time.  More info can be found in our <a href="#">Terms &amp; Conditions</a>.
          </div>
      {% endif %}

    </div>
          
 


  </div>
  
</div>

</section>

</div>

{% endblock %}

{% block inlinejs %}

<script src="{{ STATIC_URL }}js/vendor/jquery.payment.js"></script>

<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_CsG24ZSjBprYMnDHbs1AABi2sxQy7');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        var last4 = response.card.last4;
        var card_type = response.card.brand
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        $form.append($('<input type="hidden" name="last4" />').val(last4));
        $form.append($('<input type="hidden" name="card_type" />').val(card_type));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });

    jQuery(function($) {
      
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');
      {% if user.is_authenticated and user.creditcard_set.all %}
        $('form#payment-form').css('display', 'none');
      {% endif %}
      
    });
  </script>

  

{% endblock %}

  


