{% extends "base.html" %}

{% block title %}Order Confirmation | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}



{% block headernav %}
{% load order_tags %}
{% load article_tags %}
{% banner request %} 
{% endblock %}




{% block content %}

<section class="content-static">
  <div class="brick clearfix">

  {% if user.is_staff %}
   {% include "admin_nav.html" %} 
{% endif %}

 <section class="messages clearfix">
    {% if messages %}
        {% for message in messages %}
            <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    </section>
  

    {{ block.super }}
    <div class="wrapper content">
        {% load catalog_tags %}
        {% get_latest_issue as latest_issue %}
        {% get_next_latest_issue as next_latest_issue %}
        {% load order_tags %}
        
        <h1>Promo Pool</h1>
            <p>These are recipients available as promos.  These may or may not be ordered for a given issue.</p>
        {% if promo_pool %}
        <div class="brick clearfix promoblock"> 
        <h2 >VIP/Promo Pool </h2>
        <span class='legend'></span> = Already added to issue {{issue}}.
        {% include "orders/promo_table.html" with comp_list=promo_pool type="vip" %}
        </div>
        {% endif %}
        
        {% if staff_pool %}
        <div class="brick clearfix promoblock">
        <h2>Staff Pool </h2>
        <span class='legend'></span> = Already added to issue {{issue}}.
        {% include "orders/promo_table.html" with comp_list=staff_pool type="staff" %}
        </div>
        {% endif %}
        
        {% if advertiser_pool %}
        <div class="brick clearfix promoblock">
         <h2>Advertiser Pool</h2>
         <span class='legend'></span> = Already added to issue {{issue}}.
        {% include "orders/promo_table.html" with comp_list=advertiser_pool type="ad" %}
        </div>
        {% endif %}


  
  </div>

</section>

{% endblock %}

{% block inlinejs %}

<script src="{{ STATIC_URL }}js/vendor/jquery.payment.js"></script>

<script type="text/javascript">

$(document).ready(function () {
    $('th input:checkbox').click(function(e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).attr('checked', e.target.checked);
    });
});
  </script>

  

{% endblock %}



