{% extends "base.html" %}

{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}




{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% block content %}





<section class="content-static">
    <div class="brick clearfix">

    {% if user.is_staff %}
   {% include "admin_nav.html" %} 
    {% endif %}    

        <h2>Records for Issue {{ issue }}</h2>
       

        <div class="mininav">
            <a class="btn btn-default" href="{% url 'records' issue|add:-1 %}"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a> 
            
            <form class="mid_inputer" action="{% url 'records_get' %}" method="GET">
            <input class="midbox" type="text" name="issue" value="{{issue}}" />
            </form>
            <a class="btn btn-default" href="{% url 'records' issue|add:1 %}"><i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>

         <p>All shipping records for Issue {{issue}}</p>



        <table class="table ordershow record">
                 <thead>
                  <tr>
                    
                    <th class="mid">org</th>
                    <th class="mid">First</th>
                    <th class="mid">Last</th>
                    <th class="addy"> Address 1</th>
                    <th class="addy"> Address 2</th>
                    <th class="itty"> City</th>
                    <th class="itty"> State</th>
                    <th class="itty"> Zip</th>
                    <th class="mid"> type</th>
                
                  </tr>

                </thead>
                <tbody>

        {% for record in records %}
            <tr>
                <td> {{ record.recipient.org }}</td>
                 <td> {{ record.recipient.first_name }}</td>
                 <td> {{ record.recipient.last_name }}</td>
                 <td> {{ record.recipient.address_line1 }}</td>
                 <td> {{ record.recipient.address_line2 }}</td>
                 <td> {{ record.recipient.city }}</td>
                 <td> {{ record.recipient.state_province }}</td>
                 <td> {{ record.recipient.postal_code }}</td>
                 <td> {{ record.recipient.comp.comp_type }}</td>

            </tr>
        {% endfor %}
        </tbody>
        </table>

       
      
    </div>
</section>


{% endblock %}