<h3>Back Issues</h3>
<p>-while supplies last-</p>

<div class="cta-item clearfix oneyr">
	<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
	<p class="subber">A one-year subscription: $30 
	
	<a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01"m id="buy">Subscribe</a>
	
	</p>
</div>



<div class="cta-item clearfix oneyr">
	<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
	<p class="subber">A one-year subscription: $30 
	
	<a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01"m id="buy">Subscribe</a>
	
	</p>
</div>



<div class="cta-item clearfix oneyr">
	<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
	<p class="subber">A one-year subscription: $30 
	
	<a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01"m id="buy">Subscribe</a>
	
	</p>
</div>



<div class="cta-item clearfix oneyr">
	<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
	<p class="subber">A one-year subscription: $30 
	
	<a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01"m id="buy">Subscribe</a>
	
	</p>
</div>