{% extends "base.html" %} 

{% block title %}Subscribe | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}

{% block extrahead %}
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script> 
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock %}

{% block smmeta %}
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">

	<meta property='og:title' content='Post. This is Rochester'>
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta property='og:url' content='http://{{ site.domain }}{{ flatpage.url }}'>
	<meta property='og:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>
	
	
	
	



	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="Post. This is Rochester">
	<meta name="twitter:description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta name='twitter:image' content='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1000837_175802752593615_1524246974_n.jpg'>
{% endblock %}


{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% block content %}

<section class="content-static">
	<div class="brick clearfix">
	
		<h2>Where to Find Us</h2>
		
		<p>Make sure you don't miss a single issue of POST.  There's more than one way to keep in touch:<p> 
		
		<h3>Newstand Locations</h3>
		<p>For sale at the following locations:</p>
		
		<div class="find clearfix">
			<p class="findat">Pittsford Wegmans<br>
			East Avenue Wegmans<br>
			Fairport Wegmans<br>
			Ridgemont Wegmans<br>
			Lyell Avenue Wegmans<br>
			Mt. Read Wegmans<br>
			Calkins Road Wegmans<br>
			Perinton Wegmans<br>
			Irondequoit Wegmans<br>
			
			
			</p>
			<p class="findat2">
			
			Chili-Paul Wegmans<br>
			Penfield Wegmans<br>
			Latta Road Wegmans<br>
			Holt Road Wegmans<br>
			Barnes &amp; Noble Pittsford<br>
			Barnes &amp; Noble Greece<br>
			Barnes &amp; Noble at RIT<br>
			Barnes &amp; Noble Webster<br>
			Abundance Co-Op<br>

			</p>
		</div>
		
		<div class="mapwrap" >
			<div id="map">
			
			
			
			</div>
			<a class="mapcredits"href='https://www.mapbox.com/about/maps/' target='_blank'>Map: &copy; Mapbox &copy; OpenStreetMap</a>
		</div>
		<script type="text/javascript"> 
		var map = L.mapbox.map('map', 'dvpost.gpnf9phb', {attributionControl: false})
		    .setView([43.179, -77.588], 11);  
		L.control.fullscreen().addTo(map);					
		</script>
		
		<p>Buy one for a friend- help us spread the word!</p>
		
		
		
		
		<h3>Delivered to Your Door</h3>
		<p>You can subscribe for home delivery:</p>
		
		<div class="cta-item clearfix oneyr">
			<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
			<p class="subber">A one-year subscription: $30 
			
			<a href="http://he2.co/CL0N2M3I2I4" target="_blank" class="helium-buy-now" data-sku="py01"m id="buy">Subscribe</a>
			
			</p>
		</div>
		
		<h3 >Delivered to Your Inbox</h3>
		<p>We send out updates to let you know what's happening.  We promise never to share your email with anyone else.</p>
		
		<div id="eml" class="cta-item eml clearfix">
		
			<i class="fa fa-inbox fa-5x"></i>
		
			<form name="email_signup_form" id="email_signup_form" method="post" accept-charset="UTF-8" action=" " >   
		            <p class="cta">Sign up for our Email List:</p>
		            <div class="msg-bubble hide">
		              <span class="msg">Invalid Email Address</span>
		              <div class="msg-bubble-arrow-border"></div>
		              <div class="msg-bubble-arrow"></div>
		            </div>
		            {% csrf_token %}
		          
		            
		            <div id="signerupper" class="input-group">
			            {{ form.email_signup }}
			            <span class="input-group-btn">
			            <input name="submit_email_signup" id="submit_email_signup" class="input_button btn btn-primary" type="submit" value="OK" /> 
			            </span>      
		            </div>
		            
		            
		                
		       </form>
		</div>
		
		<h3>We're Out There</h3>
		
		<div class="soc-body clearfix">
		
			<div class="cta-item soc twit clearfix">
				
				<i class="fa fa-twitter-square fa-5x"></i>
				
				<p><a target="_blank" href="https://twitter.com/PostRochester">Follow us on Twitter<i class="fa fa-external-link"></i></a></p>
			</div>
			
			<div class="cta-item soc farce clearfix">
				
				<i class="fa fa-facebook-square fa-5x"></i>
				
				<p><a target="_blank" href="https://www.facebook.com/PostRochester">Find us on Facebook<i class="fa fa-external-link"></i></a></p>
			</div>
			
			<div class="cta-item soc insta clearfix">
				
				<i class="fa fa-instagram fa-5x"></i>
				
				<p><a target="_blank" href="http://instagram.com/postrochester">Follow us on Instagram<i class="fa fa-external-link"></i></a></p>
			</div>
			
 		</div>
			
			
			<h3>Back Issues</h3>
			
			<p>Coming Soon!</p>
			
					
	</div>
	
	

</section>


{% endblock %}


