{% extends "base.html" %} 

{% block title %}Subscribe | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }}flatpage {{ flatpage.title|slugify }}{% endblock %}

{% block extrahead %}
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script> 
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock %}

{% block smmeta %}
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">

	<meta property='og:title' content='Post. This is Rochester'>
	<meta name="description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta property='og:url' content='http://{{ site.domain }}/subscribe/'>
	<meta property='og:image' content='http://{{ site.domain }}/media/uploads/post-2014-4covers.jpg'>
	
	
	
	



	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="Post. This is Rochester">
	<meta name="twitter:description" content="A bi-monthly magazine in Rochester, New York. We tell the hidden and untold story of Rochester's innovators, artists, entrepreneurs, dreamers, and doers.">
	<meta name='twitter:image' content='http://{{ site.domain }}/media/uploads/post-2014-4covers.jpg'>
{% endblock %}


{% block headernav %}
{% load article_tags %}
{% banner request %} 
{% endblock %}

{% block content %}
{% load catalog_tags %}
<section class="content-static">
	<div class="brick clearfix">
	
	
		
		
		
		
		<h3 id="delivered">Delivered to Your Door</h3>
		<p>POST is published six times a year and can arrive in your mailbox every other month. Show your support and become a subscriber today.</p>
		
		<div class="cta-item clearfix oneyr">
			<img src="/assets/i/mini_stack_covers.png" alt="stack of magazines" class="stack">
			<p class="subber">A one-year subscription: $36 
			
			 {% subscribe_button request %}
			</p>
		</div>
		
		<h3 >Delivered to Your Inbox</h3>
		<p>We send out updates and announcements to let you know what's happening.  We promise never to share your email with anyone else.</p>
		
		<div id="eml" class="cta-item eml clearfix">
		
			<i class="fa fa-inbox fa-5x"></i>
		
			<form name="email_signup_form" id="email_signup_form" method="post" accept-charset="UTF-8" action=" " >   
		            <p class="cta">Sign up for our Email List:</p>
		            <div class="msg-bubble hide">
		              <span class="msg">Invalid Email Address</span>
		              <div class="msg-bubble-arrow-border"></div>
		              <div class="msg-bubble-arrow"></div>
		            </div>
		            {% csrf_token %}
		          
		            
		            <div id="signerupper" class="input-group">
			            {{ form.email_signup }}
			            <span class="input-group-btn">
			            <input name="submit_email_signup" id="submit_email_signup" class="input_button btn btn-primary" type="submit" value="OK" /> 
			            </span>      
		            </div>
		            
		            
		                
		       </form>
		</div>
		
		
					
	</div>
	
	

</section>


{% endblock %}


